<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airportcloud.protocolmanage.mapper.ProtocolMapper">
  <resultMap id="BaseResultMap" type="com.airportcloud.protocolmanage.model.Protocol">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="airport_code" jdbcType="VARCHAR" property="airportCode" />
    <result column="institution_client_id" jdbcType="BIGINT" property="institutionClientId" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="clear_form" jdbcType="SMALLINT" property="clearForm" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>

  <resultMap id="BaseResultMapPage" type="com.airportcloud.protocolmanage.model.Protocol">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="clear_form" jdbcType="SMALLINT" property="clearForm" />
    <result column="institution_client_name" jdbcType="VARCHAR" property="institutionClientName" />
    <result column="institution_client_type" jdbcType="VARCHAR" property="institutionClientType" />
    <result column="institution_client_no" jdbcType="VARCHAR" property="institutionClientNo" />
  </resultMap>

  <resultMap id="DropdownlistMap" type="com.airportcloud.protocolmanage.model.Dropdownlist">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>

  <sql id="Base_Column_List">
    id, airport_code, institution_client_id, no, name, type, start_time, end_time, clear_form, 
    remark, create_time, update_time, is_deleted
  </sql>

  <select id="getProtocolDropdownList" parameterType="map" resultMap="DropdownlistMap">
    select id,name as value from protocol where airport_code = #{airportCode,jdbcType=VARCHAR}
    <if test="type != null">
      and type = #{type,jdbcType=VARCHAR}
    </if>
    and is_deleted = 0
  </select>

  <update id="updateByIdAndAirportCode" parameterType="com.airportcloud.protocolmanage.model.Protocol">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update protocol
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clearForm != null">
        clear_form = #{clearForm,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=SMALLINT},
      </if>
      update_time = CURRENT_TIMESTAMP
    </set>
    where airport_code = #{airportCode,jdbcType=VARCHAR} and id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getListByConidition" parameterType="com.airportcloud.protocolmanage.pageUtil.BasePagination" resultMap="BaseResultMapPage">
  SELECT
    p.id,i.name as institution_client_name,i.type as institution_client_type,i.no as institution_client_no,p.no,p.name,p.type,clear_form,start_time,end_time
    FROM
    v_protocol p left join v_institution_client i on p.institution_client_id = i.id
    where p.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and p.is_deleted = 0
  <if test="criteria.institutionClientName != null and !criteria.institutionClientName.trim().equals('')" >
    and i.name like concat('%',#{criteria.institutionClientName},'%')
  </if>
  <if test="criteria.institutionClientNo != null and !criteria.institutionClientNo.trim().equals('')" >
    and i.no like concat('%',#{criteria.institutionClientNo},'%')
  </if>
  <if test="criteria.institutionClientType != null and !criteria.institutionClientType.trim().equals('')" >
    and i.type = #{criteria.institutionClientType}
  </if>
  <if test="criteria.name != null and !criteria.name.trim().equals('')" >
    and p.name like concat('%',#{criteria.name},'%')
  </if>
  <if test="criteria.no != null and !criteria.no.trim().equals('')" >
    and p.no like concat('%',#{criteria.no},'%')
  </if>
  order by p.id desc
  LIMIT #{page.startPageNo},#{page.pCount}
</select>

  <select id="getListCount" parameterType="map" resultType="int">
    SELECT
    count(p.id) as num
    FROM
    protocol p left join institution_client i on p.institution_client_id = i.id
    where p.airport_code = #{airportCode,jdbcType=VARCHAR} and p.is_deleted = 0
    <if test="institutionClientName != null and !institutionClientName.trim().equals('')" >
      and i.name like concat('%',#{institutionClientName},'%')
    </if>
    <if test="institutionClientType != null and !institutionClientType.trim().equals('')" >
      and i.type = #{institutionClientType}
    </if>
    <if test="name != null and !name.trim().equals('')" >
      and p.name like concat('%',#{name},'%')
    </if>
  </select>

  <select id="selectById" parameterType="map" resultMap="BaseResultMapPage">
    SELECT
  p.id,i.name as institution_client_name,i.type as institution_client_type,i.no as institution_client_no,p.no,p.name,p.type,clear_form,start_time,end_time,p.remark
  FROM
  v_protocol p left join v_institution_client i on p.institution_client_id = i.id
  where p.airport_code = #{airportCode,jdbcType=VARCHAR} and p.id = #{id,jdbcType=BIGINT}
  </select>

</mapper>