<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.zhiweicloud.guest" />

    <!-- 开启切面代理 -->
    <aop:aspectj-autoproxy/>

    <bean id="SpringBeanUtil" class="com.wyun.utils.SpringBeanUtil"/>
    <!--<bean id="airPortServiceImpl" class="com.wyun.thrift.server.processor.WyunServiceImpl">
    </bean>

    <beans profile="thriftLocal">
        <bean id="server" class="com.wyun.thrift.server.server.Server">
            &lt;!&ndash; setServer_port &ndash;&gt;
            &lt;!&ndash;<property name="serverPort" value="8080"></property>&ndash;&gt;
            <property name="serverPort" value="8901"></property>
            <property name="processorName" value="airPortServiceImpl"></property>
        </bean>
    </beans>

    <beans profile="thriftProduction">
        <bean id="server" class="com.wyun.thrift.server.server.Server">
            &lt;!&ndash; setServer_port &ndash;&gt;
            <property name="serverPort" value="8080"></property>
            &lt;!&ndash;<property name="serverPort" value="8901"></property>&ndash;&gt;
            <property name="processorName" value="airPortServiceImpl"></property>
        </bean>
    </beans>-->

</beans>