<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.ProtocolMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.Protocol">
    <id column="protocol_id" jdbcType="BIGINT" property="protocolId" />
    <result column="airport_code" jdbcType="VARCHAR" property="airportCode" />
    <result column="institution_client_id" jdbcType="BIGINT" property="institutionClientId" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="reservation_num" jdbcType="VARCHAR" property="reservationNum" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="clear_form" jdbcType="SMALLINT" property="clearForm" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>

  <resultMap id="BaseResultMapPage" type="com.zhiweicloud.guest.model.Protocol">
    <id column="protocol_id" jdbcType="BIGINT" property="protocolId" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="reservation_num" jdbcType="VARCHAR" property="reservationNum" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="clear_form" jdbcType="SMALLINT" property="clearForm" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="institution_client_id" jdbcType="BIGINT" property="institutionClientId" />
    <result column="institution_client_name" jdbcType="VARCHAR" property="institutionClientName" />
    <result column="institution_client_type" jdbcType="VARCHAR" property="institutionClientType" />
    <result column="institution_client_no" jdbcType="VARCHAR" property="institutionClientNo" />
  </resultMap>

  <resultMap id="DropdownlistMap" type="com.zhiweicloud.guest.model.Dropdownlist">
    <id column="protocol_id" jdbcType="BIGINT" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>

  <sql id="Base_Column_List">
    protocol_id, airport_code, institution_client_id, no, name, type, reservation_num, start_date, end_date, clear_form,
    remark, create_time, update_time, is_deleted
  </sql>

  <select id="getProtocolDropdownList" parameterType="map" resultMap="DropdownlistMap">
    select m.protocol_id,m.name as value from
    (select vp.protocol_id,vp.name from
    (select v.*,p.id from v_protocol as v left join protocol_serv as p on v.protocol_id = p.protocol_id
    where v.airport_code = #{airportCode,jdbcType=VARCHAR} and v.is_deleted = 0 and p.airport_code = #{airportCode,jdbcType=VARCHAR} and p.is_deleted = 0
    and p.id in (select service_type_allocation_id from service_type_allocation where category = #{type,jdbcType=VARCHAR} and airport_code = #{airportCode,jdbcType=VARCHAR}
    and is_deleted = 0)) as vp
    group by vp.protocol_id) as m
    <if test="name != null and !name.trim().equals('')">
      where m.name like concat('%',#{name},'%')
    </if>
  </select>

  <select id="getProtocolNoDropdownList" parameterType="map" resultMap="DropdownlistMap">
    select m.protocol_id,m.no as value from
    (select vp.protocol_id,vp.no from
    (select v.*,p.id from v_protocol as v left join protocol_serv as p on v.protocol_id = p.protocol_id
    where v.airport_code = #{airportCode,jdbcType=VARCHAR} and v.is_deleted = 0 and p.airport_code = #{airportCode,jdbcType=VARCHAR} and p.is_deleted = 0
    and p.id in (select service_type_allocation_id from service_type_allocation where category = #{type,jdbcType=VARCHAR} and airport_code = #{airportCode,jdbcType=VARCHAR}
    and is_deleted = 0)) as vp
    group by vp.protocol_id) as m
    <if test="no != null and !no.trim().equals('')" >
      where m.no like concat('%',#{no},'%')
    </if>
  </select>

  <update id="updateByIdAndAirportCode" parameterType="com.zhiweicloud.guest.model.Protocol">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update protocol
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="reservationNum != null">
        reservation_num = #{reservationNum,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="clearForm != null">
        clear_form = #{clearForm,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=SMALLINT},
      </if>
      update_time = CURRENT_TIMESTAMP
    </set>
    where airport_code = #{airportCode,jdbcType=VARCHAR} and protocol_id = #{protocolId,jdbcType=BIGINT}
  </update>

  <select id="getListByConidition" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMapPage">
    SELECT
    p.*,i.name as institution_client_name,i.type as institution_client_type,i.no as institution_client_no
    FROM
    v_protocol p left join v_institution_client i on p.institution_client_id = i.institution_client_id
    where p.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and p.is_deleted = 0
    <if test="criteria.institutionClientName != null and !criteria.institutionClientName.trim().equals('')" >
      and i.name like concat('%',#{criteria.institutionClientName},'%')
    </if>
    <if test="criteria.institutionClientNo != null and !criteria.institutionClientNo.trim().equals('')" >
      and i.no like concat('%',#{criteria.institutionClientNo},'%')
    </if>
    <if test="criteria.institutionClientType != null and !criteria.institutionClientType.trim().equals('')" >
      and i.type = #{criteria.institutionClientType}
    </if>
    <if test="criteria.name != null and !criteria.name.trim().equals('')" >
      and p.name like concat('%',#{criteria.name},'%')
    </if>
    <if test="criteria.no != null and !criteria.no.trim().equals('')" >
      and p.no like concat('%',#{criteria.no},'%')
    </if>
    order by p.protocol_id desc
  LIMIT #{page.startPageNo},#{page.pCount}
</select>

  <select id="getListCount" parameterType="map" resultType="int">
    SELECT
    count(p.protocol_id) as num
    FROM
    protocol p left join institution_client i on p.institution_client_id = i.institution_client_id
    where p.airport_code = #{airportCode,jdbcType=VARCHAR} and p.is_deleted = 0
    <if test="institutionClientName != null and !institutionClientName.trim().equals('')" >
      and i.name like concat('%',#{institutionClientName},'%')
    </if>
    <if test="institutionClientType != null and !institutionClientType.trim().equals('')" >
      and i.type = #{institutionClientType}
    </if>
    <if test="name != null and !name.trim().equals('')" >
      and p.name like concat('%',#{name},'%')
    </if>
  </select>

  <select id="selectById" parameterType="map" resultMap="BaseResultMap">
   SELECT p.*,i.name as institution_client_name,i.type as institution_client_type,i.no as institution_client_no
  FROM v_protocol p left join v_institution_client i on p.institution_client_id = i.institution_client_id
  where p.airport_code = #{airportCode,jdbcType=VARCHAR} and p.protocol_id = #{protocolId,jdbcType=BIGINT} and p.is_deleted = 0
  and i.airport_code = #{airportCode,jdbcType=VARCHAR} and i.is_deleted = 0
  </select>

  <select id="selectByName"  parameterType="java.util.Map"  resultType="java.lang.Long">
    SELECT count(protocol_id) from protocol where airport_code = #{airportCode,jdbcType=VARCHAR} and name = #{protocolName,jdbcType=VARCHAR}
    <if test="id != null">
      and protocol_id != #{id,jdbcType=BIGINT}
    </if>
  </select>

  <select id="selectOrderByProtocolId"  parameterType="java.util.Map"  resultType="java.lang.Long">
    SELECT count(id) from guest_order where airport_code = #{airportCode,jdbcType=VARCHAR} and protocol_id = #{protocolId,jdbcType=BIGINT}
  </select>


  <!--       2017.2.24后修改               -->
  <select id="queryProtocolList" resultMap="BaseResultMap">
    SELECT
    p.protocol_id,p.no,i.`name` AS institution_client_name,p.`name`,p.type
    FROM
    v_protocol p
    LEFT JOIN
    v_institution_client i on p.institution_client_id = i.institution_client_id
    WHERE
    p.airport_code = #{protocolParam.airportCode} AND p.is_deleted = 0
    <if test="protocolParam.type != null" >
      AND p.type = #{protocolParam.type}
    </if>
    <if test="protocolParam.institutionClientName != null and '' != protocolParam.institutionClientName.trim()" >
      AND i.`name` LIKE concat('%',#{protocolParam.institutionClientName},'%')
    </if>
    <if test="protocolParam.name != null and !protocolParam.name.trim().equals('')" >
      AND p.`name` LIKE concat('%',#{protocolParam.name},'%')
    </if>
    ORDER BY p.protocol_id DESC  LIMIT #{begin},#{end}
  </select>

  <select id="selectProtocolTotal" parameterType="com.zhiweicloud.guest.model.Protocol" resultType="int">
    SELECT
      count(protocol_id)
    FROM
      v_protocol p
    LEFT JOIN
      v_institution_client i on p.institution_client_id = i.institution_client_id
    WHERE
      p.airport_code = #{protocolParam.airportCode} AND p.is_deleted = 0
    <if test="protocolParam.type != null" >
      AND p.type = #{protocolParam.type}
    </if>
    <if test="protocolParam.institutionClientName != null and '' != protocolParam.institutionClientName.trim()" >
      AND i.`name` LIKE concat('%',#{protocolParam.institutionClientName},'%')
    </if>
    <if test="protocolParam.name != null and '' != protocolParam.name.trim()" >
      AND p.`name` LIKE concat('%',#{protocolParam.name},'%')
    </if>
  </select>

  <select id="getProtocolNameDropdownList" resultMap="DropdownlistMap" parameterType="map">
    SELECT
      p.protocol_id,p.`name` AS `value`
    FROM
      v_protocol p
    <if test="authorizerId != null" >
      INNER JOIN authorizer a on p.protocol_id = a.protocol_id
    </if>
    WHERE p.is_deleted = 0 AND p.airport_code = #{airportCode}
    <if test="name != null and !name.trim().equals('')" >
      and p.`name` like concat('%',#{name},'%')
    </if>
    <if test="authorizerId != null" >
      and a.authorizer_id = #{authorizerId}
    </if>
  </select>



</mapper>