<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resources.conf.mybatis.mapper.ProtocolProductServiceMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.ProtocolProductService">
    <id column="protocol_product_service_id" jdbcType="BIGINT" property="protocolProductServiceId" />
    <result column="protocol_product_id" jdbcType="BIGINT" property="protocolProductId" />
    <result column="service_id" jdbcType="BIGINT" property="serviceId" />
    <result column="pricing_rule" jdbcType="OTHER" property="pricingRule" />
    <result column="is_pricing" jdbcType="BIT" property="isPricing" />
    <result column="is_prioritized" jdbcType="BIT" property="isPrioritized" />
    <result column="is_availabled" jdbcType="BIT" property="isAvailabled" />
  </resultMap>
  <sql id="Base_Column_List">
    protocol_product_service_id, protocol_product_id, service_id, pricing_rule, is_pricing, 
    is_prioritized, is_availabled
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from protocol_product_service
    where protocol_product_service_id = #{protocolProductServiceId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from protocol_product_service
    where protocol_product_service_id = #{protocolProductServiceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhiweicloud.guest.model.ProtocolProductService">
    insert into protocol_product_service (protocol_product_service_id, protocol_product_id, 
      service_id, pricing_rule, is_pricing, 
      is_prioritized, is_availabled)
    values (#{protocolProductServiceId,jdbcType=BIGINT}, #{protocolProductId,jdbcType=BIGINT}, 
      #{serviceId,jdbcType=BIGINT}, #{pricingRule,jdbcType=OTHER}, #{isPricing,jdbcType=BIT}, 
      #{isPrioritized,jdbcType=BIT}, #{isAvailabled,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiweicloud.guest.model.ProtocolProductService">
    insert into protocol_product_service
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="protocolProductServiceId != null">
        protocol_product_service_id,
      </if>
      <if test="protocolProductId != null">
        protocol_product_id,
      </if>
      <if test="serviceId != null">
        service_id,
      </if>
      <if test="pricingRule != null">
        pricing_rule,
      </if>
      <if test="isPricing != null">
        is_pricing,
      </if>
      <if test="isPrioritized != null">
        is_prioritized,
      </if>
      <if test="isAvailabled != null">
        is_availabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="protocolProductServiceId != null">
        #{protocolProductServiceId,jdbcType=BIGINT},
      </if>
      <if test="protocolProductId != null">
        #{protocolProductId,jdbcType=BIGINT},
      </if>
      <if test="serviceId != null">
        #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="pricingRule != null">
        #{pricingRule,jdbcType=OTHER},
      </if>
      <if test="isPricing != null">
        #{isPricing,jdbcType=BIT},
      </if>
      <if test="isPrioritized != null">
        #{isPrioritized,jdbcType=BIT},
      </if>
      <if test="isAvailabled != null">
        #{isAvailabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiweicloud.guest.model.ProtocolProductService">
    update protocol_product_service
    <set>
      <if test="protocolProductId != null">
        protocol_product_id = #{protocolProductId,jdbcType=BIGINT},
      </if>
      <if test="serviceId != null">
        service_id = #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="pricingRule != null">
        pricing_rule = #{pricingRule,jdbcType=OTHER},
      </if>
      <if test="isPricing != null">
        is_pricing = #{isPricing,jdbcType=BIT},
      </if>
      <if test="isPrioritized != null">
        is_prioritized = #{isPrioritized,jdbcType=BIT},
      </if>
      <if test="isAvailabled != null">
        is_availabled = #{isAvailabled,jdbcType=BIT},
      </if>
    </set>
    where protocol_product_service_id = #{protocolProductServiceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiweicloud.guest.model.ProtocolProductService">
    update protocol_product_service
    set protocol_product_id = #{protocolProductId,jdbcType=BIGINT},
      service_id = #{serviceId,jdbcType=BIGINT},
      pricing_rule = #{pricingRule,jdbcType=OTHER},
      is_pricing = #{isPricing,jdbcType=BIT},
      is_prioritized = #{isPrioritized,jdbcType=BIT},
      is_availabled = #{isAvailabled,jdbcType=BIT}
    where protocol_product_service_id = #{protocolProductServiceId,jdbcType=BIGINT}
  </update>
</mapper>