<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.SysMenu">
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="position" jdbcType="INTEGER" property="position" />
  </resultMap>

  <select id="getChildMenusByParentIdByUserId" resultMap="BaseResultMap" parameterType="map">
    select * from sys_menu where pid = #{parentId} and menu_id in (
      select distinct(menu_id) from sys_role_menu srm inner join sys_user_role sur
      on srm.role_id = sur.role_id and sur.user_id = #{userId}
      and srm.is_deleted = 0 and sur.is_deleted = 0
      order by srm.menu_id
    )
  </select>


  <select id="selectMenuInstanceByIdAndAirportCode" parameterType="map" resultMap="BaseResultMap">
    select m.menu_id,m.pid,m.name,m.url,m.type,m.position from sys_menu m
    where m.is_deleted = 0 and m.airport_code = #{airportCode} and menu_id = #{menuId}
  </select>

  <select id="getChildNodesByParentId" resultMap="BaseResultMap" parameterType="map">
    select * from sys_menu where pid = #{parentId} and is_deleted = 0 order by position
  </select>


  <select id="menuInUse" resultType="int" parameterType="map">
    select count(role_menu_id) from sys_role_menu where is_deleted = 0 and airport_code = #{airportCode} and menu_id = #{menuId}
  </select>


  <select id="selectMenuNameByIdAndAirportCode" resultType="string" parameterType="map">
    select name from sys_menu where is_deleted = 0 and airport_code = #{airportCode} and menu_id = #{menuId}
  </select>


  <select id="getChildMenusByParentIdByRole" resultMap="BaseResultMap" parameterType="map">
    SELECT vrm.menu_id,vrm.pid,vrm.name,vrm.url,vrm.type,vrm.position from v_role_menu vrm
    where vrm.pid = #{parentId}
    and vrm.role_id = #{roleId}
    and vrm.airport_code = #{airportCode}
    order by vrm.position
  </select>

  <insert id="insertSelective" parameterType="com.zhiweicloud.guest.model.SysMenu">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="airportCode != null">
        airport_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=SMALLINT},
      </if>
      <if test="airportCode != null">
        #{airportCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiweicloud.guest.model.SysMenu">
    update sys_menu
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=SMALLINT},
      </if>
      <if test="airportCode != null">
        airport_code = #{airportCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=BIGINT} and airport_code=#{airportCode,jdbcType=VARCHAR}
  </update>

</mapper>