<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resources.conf.mybatis.mapper.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.SysRoleMenu">
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
  </resultMap>
  <insert id="insert" parameterType="com.zhiweicloud.guest.model.SysRoleMenu">
    insert into sys_role_menu (role_id, menu_id)
    values (#{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiweicloud.guest.model.SysRoleMenu">
    insert into sys_role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>