<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.SysRoleMenu">
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
  </resultMap>



  <insert id="insertByExists">
    INSERT INTO sys_role_menu (role_id,menu_id,airport_code)
    SELECT #{roleId},#{menuId},#{airportCode}
    FROM dual
    WHERE not exists (
      select * from sys_role_menu where role_id = #{roleId} and menu_id = #{menuId} and airport_code = #{airportCode} and is_deleted = 0
    )
  </insert>

  <update id="deleteMenus" parameterType="map">
    update sys_role_menu set is_deleted = 1 where menu_id not in (${menuIds})  and airport_code = #{airportCode} and role_id = #{roleId}
  </update>
</mapper>