<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.SysRole">
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>

  <insert id="insertSelective" parameterType="com.zhiweicloud.guest.model.SysRole">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="roleId">
      SELECT LAST_INSERT_ID()
    </selectKey>
      insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="airportCode != null">
        airport_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="airportCode != null">
        #{airportCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhiweicloud.guest.model.SysRole">
    update sys_role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="airportCode != null">
        airport_code = #{airportCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=BIGINT} and airport_code = #{airportCode,jdbcType=VARCHAR}
  </update>

  <resultMap id="DropdownlistMap" type="com.zhiweicloud.guest.model.Dropdownlist">
    <id column="role_id" jdbcType="BIGINT" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>

  <select id="getSysRoleDropdownList" resultMap="DropdownlistMap" parameterType="string">
    select role_id as id,name as value from sys_role where is_deleted = 0 and airport_code = #{airportCode}
  </select>


  <select id="selectSysRoleTotal" parameterType="com.zhiweicloud.guest.model.SysRole" resultType="int">
    select count(role_id) from sys_role r
    where r.is_deleted = 0 and r.airport_code = #{airportCode}
    <if test="name != null ">
      and r.name like concat('%',#{name},'%')
    </if>
  </select>

  <select id="selectSysRoleList" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMap">
    select r.role_id,r.name,r.description from sys_role r
    where r.is_deleted = 0 and r.airport_code = #{criteria.airportCode}
    <if test="criteria.name != null ">
      and r.name like concat('%',#{criteria.name},'%')
    </if>
    order by r.role_id desc LIMIT #{page.startPageNo},#{page.pCount}
  </select>


  <select id="selectByIdAndAirportCode" parameterType="map" resultMap="BaseResultMap">
   select r.role_id,r.name,r.description from sys_role r
    where r.is_deleted = 0 and r.airport_code = #{airportCode} and r.role_id = #{roleId}

  </select>

  <insert id="assignMenuToRole" parameterType="map">
    insert into sys_role_menu (role_id,menu_id,airport_code)
    values
      (#{roleId},#{menuId},#{airportCode})
  </insert>


  <select id="getMenuIdByUserId" parameterType="map" resultType="map">
    select distinct(srm.menu_id) from sys_role_menu srm left join sys_user_role sur
    on srm.role_id = sur.role_id and sur.user_id = #{userId}
    and srm.is_deleted = 0 and sur.is_deleted = 0
    and srm.airport_code = #{airportCode} and sur.airport_code = #{airportCode}
    order by srm.menu_id
  </select>


  <select id="roleInUse" resultType="int" parameterType="map">
    select count(user_role_id) from sys_user_role where is_deleted = 0 and airport_code = #{airportCode} and role_id = #{roleId}
  </select>

  <select id="selectRoleNameByIdAndAirportCode" resultType="string" parameterType="map">
    select name from sys_role where is_deleted = 0 and airport_code = #{airportCode} and role_id = #{roleId}
  </select>


  <update id="updateCustomColumn" parameterType="com.zhiweicloud.guest.model.SysRole">
    update sys_role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      update_time = now()
    </set>
    where role_id = #{roleId} and airport_code = #{airportCode}
  </update>


  <select id="judgeRepeat" resultType="int">
    select count(role_id) from sys_role
    where is_deleted = 0 and airport_code = #{airportCode} and name = #{name}
    <if test="roleId != null and !''.equals(roleId)">
      and role_id != #{roleId}
    </if>
  </select>


</mapper>