<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.Permission">
    <id column="permission_id" jdbcType="BIGINT" property="permissionId" />
    <result column="role_permission_id" jdbcType="BIGINT" property="rolePermissionId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="airport_code" jdbcType="VARCHAR" property="airportCode" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    permission_id, airport_code, url, name, create_user, update_user, create_time, update_time, is_deleted
  </sql>
  <select id="getListByConidition" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMap">
    SELECT permission_id, airport_code, url, name
    FROM permission
    where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0
    order by permission_id desc
  </select>
  <select id="getListCount" parameterType="map" resultType="int">
    SELECT
    count(permission_id) as num
    FROM permission
    where airport_code = #{airportCode,jdbcType=VARCHAR} and is_deleted = 0
  </select>
  <select id="getListByRole" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMap">
    select r.role_permission_id, r.role_id, p.permission_id, p.name, p.airport_code, p.url from role_permission as r left join
    (SELECT permission_id, airport_code, url, name
    FROM permission where airport_code = #{criteria.airportCode,jdbcType=VARCHAR } and is_deleted = 0) as p
    on r.permission_id = p.permission_id
    where r.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and r.is_deleted = 0
    and  r.role_id= #{criteria.roleId,jdbcType=BIGINT}
    order by p.permission_id desc
  </select>
  <select id="getListCountByRole" parameterType="map" resultType="int">
    select count(p.permission_id) as num from role_permission as r left join
    (SELECT permission_id FROM permission where airport_code = #{criteria.airportCode,jdbcType=VARCHAR } and is_deleted = 0) as p
    on r.permission_id = p.permission_id
    where r.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and r.is_deleted = 0
    and  r.role_id= #{criteria.roleId,jdbcType=BIGINT}
  </select>
  <select id="selectByName"  parameterType="java.util.Map"  resultType="java.lang.Long">
    SELECT count(permission_id) from permission where airport_code = #{airportCode,jdbcType=VARCHAR} and name = #{permissionName,jdbcType=VARCHAR}
    <if test="permissionId != null">
      and permission_id != #{permissionId,jdbcType=BIGINT}
    </if>
  </select>
  <update id="updateByIdAndAirportCode" parameterType="com.zhiweicloud.guest.model.Permission">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update permission
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=SMALLINT},
      </if>
      update_time = CURRENT_TIMESTAMP
    </set>
    where airport_code = #{airportCode,jdbcType=VARCHAR} and permission_id = #{permissionId,jdbcType=BIGINT}
  </update>
  <select id="selectById" parameterType="map" resultMap="BaseResultMap">
    SELECT permission_id, airport_code, url, name FROM permission where airport_code = #{airportCode,jdbcType=VARCHAR} and permission_id = #{permissionId,jdbcType=BIGINT} and is_deleted = 0
  </select>
  <select id="getUserPermission" parameterType="map" resultMap="BaseResultMap">
    select p.permission_id, p.url from permission as p left join
    (select permission_id from role_permission as r left join
    (select role_id from sys_user_role where airport_code = #{airportCode,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=BIGINT} and is_deleted = 0) as s
    on r.role_id = s.role_id where r.airport_code = #{airportCode,jdbcType=VARCHAR} and r.is_deleted = 0) as rp on p.permission_id = rp.permission_id
    where p.airport_code = #{airportCode,jdbcType=VARCHAR} and p.is_deleted = 0
  </select>
</mapper>