<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.RolePermission">
    <id column="role_permission_id" jdbcType="BIGINT" property="rolePermissionId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
  </resultMap>
  <sql id="Base_Column_List">
    role_permission_id, role_id, permission_id
  </sql>
  <select id="deleteByIdAndAirportCode" parameterType="map">
    update role_permission set is_deleted = 1 where role_permission_id not in (${ids}) and airport_code = #{airportCode,jdbcType=VARCHAR} and role_id = #{roleId,jdbcType=BIGINT}
  </select>
  <select id="SelectByRoleIdAndPermissionId" parameterType="map" resultType="Integer">
    select count(role_permission_id) from role_permission where airport_code = #{airportCode,jdbcType=VARCHAR} and role_id = #{roleId,jdbcType=BIGINT}
    and permission_id = #{permissionId,jdbcType=BIGINT} and is_deleted = 0
  </select>
  <insert id="insertBySelective" parameterType="com.zhiweicloud.guest.model.RolePermission">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="rolePermissionId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into role_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="airportCode != null">
        airport_code,
      </if>
      <if test="rolePermissionId != null">
        role_permission_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="airportCode != null">
        #{airportCode,jdbcType=VARCHAR},
      </if>
      <if test="rolePermissionId != null">
        #{rolePermissionId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>

  <update id="updateByIdAndAirportCode" parameterType="com.zhiweicloud.guest.model.RolePermission">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update role_permission
    <set>
      data_permission=json_set(data_permission,'$.roleId',#{roleIds}),
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=SMALLINT},
      </if>
      update_time = CURRENT_TIMESTAMP
    </set>
    where airport_code = #{airportCode,jdbcType=VARCHAR} and permission_id = #{permissionId,jdbcType=BIGINT} and role_id = #{roleId, jdbcType=BIGINT}
  </update>
</mapper>