<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resources.conf.mybatis.mapper.BsOrderMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.BsOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="protocol_id" jdbcType="BIGINT" property="protocolId" />
    <result column="booking_person" jdbcType="VARCHAR" property="bookingPerson" />
    <result column="is_important" jdbcType="SMALLINT" property="isImportant" />
    <result column="order_remark" jdbcType="VARCHAR" property="orderRemark" />
    <result column="signer_person" jdbcType="VARCHAR" property="signerPerson" />
    <result column="service_id" jdbcType="BIGINT" property="serviceId" />
    <result column="flight_date" jdbcType="TIMESTAMP" property="flightDate" />
    <result column="flight_no" jdbcType="VARCHAR" property="flightNo" />
    <result column="flight_segment" jdbcType="VARCHAR" property="flightSegment" />
    <result column="plan_take_off_time" jdbcType="TIMESTAMP" property="planTakeOffTime" />
    <result column="plan_landing_time" jdbcType="TIMESTAMP" property="planLandingTime" />
    <result column="is_in_or_out" jdbcType="SMALLINT" property="isInOrOut" />
    <result column="is_near_or_far" jdbcType="SMALLINT" property="isNearOrFar" />
    <result column="is_print_boarding_check" jdbcType="SMALLINT" property="isPrintBoardingCheck" />
    <result column="sit_require" jdbcType="VARCHAR" property="sitRequire" />
    <result column="package_no" jdbcType="INTEGER" property="packageNo" />
    <result column="package_weight" jdbcType="REAL" property="packageWeight" />
    <result column="is_consign" jdbcType="SMALLINT" property="isConsign" />
    <result column="server_person_num" jdbcType="INTEGER" property="serverPersonNum" />
    <result column="company_person_num" jdbcType="INTEGER" property="companyPersonNum" />
    <result column="car_num" jdbcType="INTEGER" property="carNum" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="order_status" jdbcType="SMALLINT" property="orderStatus" />
    <result column="charge_service" jdbcType="VARCHAR" property="chargeService" />
    <result column="charge_by" jdbcType="SMALLINT" property="chargeBy" />
    <result column="charge_content" jdbcType="VARCHAR" property="chargeContent" />
    <result column="charge_amount" jdbcType="DOUBLE" property="chargeAmount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, protocol_id, booking_person, is_important, order_remark, signer_person, service_id, 
    flight_date, flight_no, flight_segment, plan_take_off_time, plan_landing_time, is_in_or_out, 
    is_near_or_far, is_print_boarding_check, sit_require, package_no, package_weight, 
    is_consign, server_person_num, company_person_num, car_num, type, order_status, charge_service, 
    charge_by, charge_content, charge_amount, create_time, update_time
  </sql>

</mapper>