<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.Employee">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="SMALLINT" property="sex" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>

  <select id="complexSqlQuery" parameterType="long" resultMap="BaseResultMap">
    SELECT  * from employee where id = #{id}

  </select>


  <resultMap id="DropdownlistMap" type="com.zhiweicloud.guest.model.Dropdownlist">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>

  <select id="getEmployeeDropdownList" resultMap="DropdownlistMap">
    select id,name as value from employee where is_deleted = 0
  </select>
</mapper>