<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.ServDefaultMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.ServDefault">
    <id column="serv_default_id" jdbcType="BIGINT" property="servDefaultId" />
    <result column="serv_id" jdbcType="BIGINT" property="servId" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="airport_code" jdbcType="VARCHAR" property="airportCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
  </resultMap>

  <sql id="Base_Column_List">
    serv_default_id, serv_id, employee_id, is_deleted, airport_code, create_time, update_time, 
    create_user, update_user
  </sql>


  <insert id="insertServDefault" parameterType="com.zhiweicloud.guest.model.ServDefault">
    INSERT INTO serv_default (serv_id, employee_id, is_deleted, airport_code, create_time, create_user)
    SELECT #{servId}, #{employeeId}, 0, #{airportCode}, NOW(), #{employeeId}
    FROM dual
    WHERE not exists (
      select * from serv_default where employee_id = #{employeeId} and serv_id = #{servId} and airport_code = #{airportCode} and is_deleted = 0
    )
  </insert>


  <update id="deleteServDefault"  parameterType="java.util.Map">
    update
      serv_default
    SET
      is_deleted = 1, update_time = NOW(), update_user = #{employeeId}
    WHERE
      employee_id = #{employeeId} and is_deleted = 0 and airport_code = #{airportCode}
    <if test="servIds != null and '' != servIds">
      and serv_id not in ( ${servIds} )
    </if>
  </update>

</mapper>