<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.ServMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.Serv">
    <id column="serv_id" jdbcType="BIGINT" property="servId" />
    <result column="airport_code" jdbcType="VARCHAR" property="airportCode" />
    <result column="service_type_allocation_id" jdbcType="BIGINT" property="serviceTypeAllocationId" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="service_detail" jdbcType="VARCHAR" property="serviceDetail" />
    <result column="pricing_rule" jdbcType="OTHER" property="pricingRule" />
    <result column="is_pricing" jdbcType="BIT" property="isPricing" />
    <result column="is_prioritized" jdbcType="BIT" property="isPrioritized" />
    <result column="is_availabled" jdbcType="BIT" property="isAvailabled" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>
  <resultMap id="BaseResultMapPage" type="com.zhiweicloud.guest.model.Serv">
  <id column="serv_id" jdbcType="BIGINT" property="servId" />
  <result column="airport_code" jdbcType="VARCHAR" property="airportCode" />
  <result column="service_type_allocation_id" jdbcType="BIGINT" property="serviceTypeAllocationId" />
  <result column="no" jdbcType="VARCHAR" property="no" />
  <result column="name" jdbcType="VARCHAR" property="name" />
  <result column="service_detail" jdbcType="VARCHAR" property="serviceDetail" />
    <result column="pricing_rule" jdbcType="OTHER" property="pricingRule" />
    <result column="is_pricing" jdbcType="BIT" property="isPricing" />
    <result column="is_prioritized" jdbcType="BIT" property="isPrioritized" />
    <result column="is_availabled" jdbcType="BIT" property="isAvailabled" />
  <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
  <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
</resultMap>

  <resultMap id="DropdownlistMap" type="com.zhiweicloud.guest.model.Dropdownlist">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>

  <sql id="Base_Column_List">
    serv_id, airport_code, service_type_allocation_id, no, name, service_detail, create_user, update_user, create_time, update_time, is_deleted
  </sql>

  <select id="selectById" parameterType="map" resultMap="BaseResultMap">
    SELECT serv_id, airport_code, service_type_allocation_id, no, name, service_detail FROM v_serv where airport_code = #{airportCode,jdbcType=VARCHAR} and serv_id = #{servId,jdbcType=BIGINT} and is_deleted = 0
  </select>

  <update id="updateByIdAndAirportCode" parameterType="com.zhiweicloud.guest.model.Serv">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update serv
  <set>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="serviceDetail != null">
      service_detail = #{serviceDetail,jdbcType=VARCHAR},
    </if>
    <if test="isDeleted != null">
      is_deleted = #{isDeleted,jdbcType=SMALLINT},
    </if>
      update_time = CURRENT_TIMESTAMP
  </set>
  where airport_code = #{airportCode,jdbcType=VARCHAR} and serv_id = #{servId,jdbcType=BIGINT}
</update>

  <select id="getListByConidition" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMap">
    SELECT serv_id, airport_code, service_type_allocation_id, no, name, service_detail
    FROM v_serv
    where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and service_type_allocation_id = #{criteria.typeId,jdbcType=BIGINT} and is_deleted = 0
    order by serv_id desc
    LIMIT #{page.startPageNo},#{page.pCount}
  </select>

  <select id="getListCount" parameterType="map" resultType="int">
    SELECT
    count(serv_id) as num
    FROM serv
    where airport_code = #{airportCode,jdbcType=VARCHAR} and service_type_allocation_id = #{typeId,jdbcType=BIGINT} and is_deleted = 0
  </select>

  <select id="getServListByTypeId" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMap">
    SELECT s.serv_id, s.airport_code, s.service_type_allocation_id, s.no, s.name
    FROM v_serv as s left join
    (select service_type_id from product_service_type
    where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and product_id = #{criteria.productId,jdbcType=BIGINT}
    and is_deleted = 0 and service_type_id = #{criteria.typeId,jdbcType=BIGINT}) as p
    on  s.service_type_allocation_id = p.service_type_id
    where s.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and s.service_type_allocation_id = #{criteria.typeId,jdbcType=BIGINT} and s.is_deleted = 0
    order by s.serv_id desc
    LIMIT #{page.startPageNo},#{page.pCount}
  </select>

  <select id="getServListByCondition" parameterType="map" resultMap="BaseResultMap">
    SELECT s.serv_id, s.airport_code, s.service_type_allocation_id, s.no, s.name
    FROM v_serv as s left join
    (select service_type_id from product_service_type
    where airport_code = #{airportCode,jdbcType=VARCHAR} and product_id = #{productId,jdbcType=BIGINT}
    and is_deleted = 0 and service_type_id = #{typeId,jdbcType=BIGINT}) as p
    on  s.service_type_allocation_id = p.service_type_id
    where s.airport_code = #{airportCode,jdbcType=VARCHAR} and s.service_type_allocation_id = #{typeId,jdbcType=BIGINT} and s.is_deleted = 0
    order by s.serv_id
  </select>

  <select id="getServListCount" parameterType="map" resultType="int">
    SELECT count(s.serv_id)
    FROM v_serv as s left join
    (select service_type_id from product_service_type
    where airport_code = #{airportCode,jdbcType=VARCHAR} and product_id = #{productId,jdbcType=BIGINT}
    and is_deleted = 0 and service_type_id = #{typeId,jdbcType=BIGINT}) as p
    on  s.service_type_allocation_id = p.service_type_id
    where s.airport_code = #{airportCode,jdbcType=VARCHAR} and s.service_type_allocation_id = #{typeId,jdbcType=BIGINT} and s.is_deleted = 0
  </select>

  <select id="selectByName"  parameterType="java.util.Map"  resultType="java.lang.Long">
    SELECT count(serv_id) from serv where airport_code = #{airportCode,jdbcType=VARCHAR} and name = #{serviceName,jdbcType=VARCHAR}
    <if test="id != null">
      and serv_id != #{id,jdbcType=BIGINT}
    </if>
  </select>

  <select id="selectProductByServiceId"  parameterType="java.util.Map"  resultType="java.lang.Long">
    SELECT count(id) from product where airport_code = #{airportCode,jdbcType=VARCHAR} and service_id = #{serviceId,jdbcType=BIGINT}
  </select>

  <select id="getServiceNameDropdownList" parameterType="java.util.Map" resultMap="DropdownlistMap">
    select serv_id,name as value from serv where airport_code = #{airportCode,jdbcType=VARCHAR} and service_type_allocation_id = #{id,jdbcType=BIGINT} and is_deleted = 0
  </select>

  <insert id="insertBySelective" parameterType="com.zhiweicloud.guest.model.Serv">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="servId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into serv
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="airportCode != null">
        airport_code,
      </if>
      <if test="serviceTypeAllocationId != null">
        service_type_allocation_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="serviceDetail != null">
        service_detail,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="airportCode != null">
        #{airportCode,jdbcType=VARCHAR},
      </if>
      <if test="serviceTypeAllocationId != null">
        #{serviceTypeAllocationId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="serviceDetail != null">
        #{serviceDetail,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>

</mapper>