<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.ApiCustomerMapper">

    <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.ApiCustomer">
        <id column="customer_id" jdbcType="BIGINT" property="customerId" />
        <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
        <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
        <result column="expiry_date" jdbcType="VARCHAR" property="expiryDate" />
        <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        customer_id, customer_name, sys_code, expiry_date, is_deleted, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from api_customer
        where customer_id = #{customerId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from api_customer
        where customer_id = #{customerId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.zhiweicloud.guest.model.ApiCustomer">
        insert into api_customer (customer_id, customer_name, sys_code, 
            expiry_date, is_deleted, create_time, 
            update_time)
        values (#{customerId,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR}, #{sysCode,jdbcType=VARCHAR}, 
            #{expiryDate,jdbcType=VARCHAR}, #{isDeleted,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, 
            #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.zhiweicloud.guest.model.ApiCustomer">
        insert into api_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="customerName != null">
                customer_name,
            </if>
            <if test="sysCode != null">
                sys_code,
            </if>
            <if test="expiryDate != null">
                expiry_date,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customerName != null">
                #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="sysCode != null">
                #{sysCode,jdbcType=VARCHAR},
            </if>
            <if test="expiryDate != null">
                #{expiryDate,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zhiweicloud.guest.model.ApiCustomer">
        update api_customer
        <set>
            <if test="customerName != null">
                customer_name = #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="sysCode != null">
                sys_code = #{sysCode,jdbcType=VARCHAR},
            </if>
            <if test="expiryDate != null">
                expiry_date = #{expiryDate,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=SMALLINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where customer_id = #{customerId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.zhiweicloud.guest.model.ApiCustomer">
        update api_customer
        set customer_name = #{customerName,jdbcType=VARCHAR},
            sys_code = #{sysCode,jdbcType=VARCHAR},
            expiry_date = #{expiryDate,jdbcType=VARCHAR},
            is_deleted = #{isDeleted,jdbcType=SMALLINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where customer_id = #{customerId,jdbcType=BIGINT}
    </update>

</mapper>