<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.FlightCenterApiPoMapper">

    <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.po.FlightCenterApiPo">
        <id column="flight_center_api_id" jdbcType="BIGINT" property="flightCenterApiId" />
        <result column="api_name" jdbcType="VARCHAR" property="apiName" />
        <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
        <result column="invoke_state" jdbcType="VARCHAR" property="invokeState" />
        <result column="invoke_result" jdbcType="VARCHAR" property="invokeResult" />
    </resultMap>

    <sql id="insertName">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apiName != null">api_name,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="invokeState != null">invoke_state,</if>
            <if test="invokeResult != null">invoke_result,</if>
        </trim>
    </sql>

    <sql id="insertValue">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apiName != null">#{apiName,jdbcType=VARCHAR},</if>
            <if test="customerId != null">#{customerId,jdbcType=BIGINT},</if>
            <if test="invokeState != null">#{invokeState,jdbcType=VARCHAR},</if>
            <if test="invokeResult != null">#{invokeResult,jdbcType=VARCHAR},</if>
        </trim>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="flightCenterApiId" parameterType="com.zhiweicloud.guest.po.FlightCenterApiPo">
        INSERT INTO operator_flight_center_api
        <include refid="insertName"/>
        VALUES
        <include refid="insertValue"/>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM operator_flight_center_api
        WHERE flight_center_api_id = #{flightCenterApiId,jdbcType=BIGINT}
    </delete>

    <update id="deleteByIdBogus" parameterType="java.lang.Long">
      UPDATE operator_flight_center_api
      SET is_deleted = 1 WHERE flight_center_api_id = #{flightCenterApiId,jdbcType=BIGINT}
    </update>

    <sql id="updateSet">
        <set>
            <if test="apiName != null">api_name = #{apiName,jdbcType=VARCHAR},</if>
            <if test="customerId != null">customer_id = #{customerId,jdbcType=VARCHAR},</if>
            <if test="invokeState != null">invoke_state = #{invokeState,jdbcType=VARCHAR},</if>
            <if test="invokeResult != null">invoke_result = #{invokeResult,jdbcType=VARCHAR},</if>
        </set>
    </sql>

    <update id="update" parameterType="com.zhiweicloud.guest.po.FlightCenterApiPo">
        UPDATE operator_flight_center_api
        <include refid="updateSet"/>
        WHERE flight_center_api_id = #{flightCenterApiId,jdbcType=BIGINT} AND is_deleted =0
    </update>

    <sql id="selectName">
        flight_center_api_id,
        api_name,
        customer_id,
        invoke_state,
        invoke_result
    </sql>

    <sql id="selectWhere">
      <where>
          <if test="apiName != null">api_name = #{apiName,jdbcType=VARCHAR},</if>
          <if test="customerId != null">customer_id = #{customerId,jdbcType=VARCHAR},</if>
          <if test="invokeState != null">invoke_state = #{invokeState,jdbcType=VARCHAR},</if>
          <if test="invokeResult != null">invoke_result = #{invokeResult,jdbcType=VARCHAR},</if>
          <if test="startDate != null">create_time &gt; #{startDate,jdbcType=TIMESTAMP},</if>
          <if test="endDate != null">create_time &lt; {endDate,jdbcType=TIMESTAMP},</if>
      </where>
    </sql>

    <select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="selectName"/>
        FROM operator_flight_center_api
        WHERE flight_center_api_id = #{flightCenterApiId,jdbcType=BIGINT} AND is_deleted =0
    </select>

    <resultMap id="selectsMap" type="com.zhiweicloud.guest.pojo.FlightCenterApiPojo">
        <id column="flight_center_api_id" jdbcType="BIGINT" property="flightCenterApiId" />
        <result column="api_name" jdbcType="VARCHAR" property="apiName" />
        <result column="customer_id" jdbcType="BIGINT" property="customerId" />
        <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
        <result column="invoke_state" jdbcType="VARCHAR" property="invokeState" />
        <result column="invoke_result" jdbcType="VARCHAR" property="invokeResult" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <sql id="selectsWhere">
        <where>
            <if test="apiQueryPojo.customerId != null">AND ofca.customer_id = #{apiQueryPojo.customerId,jdbcType=BIGINT}</if>
            <if test="apiQueryPojo.customerName != null">AND bc.customer_name = #{apiQueryPojo.customerName,jdbcType=VARCHAR}</if>
            <if test="apiQueryPojo.sourceName != null">AND ofca.source_name = #{apiQueryPojo.sourceName,jdbcType=VARCHAR}</if>
            <if test="apiQueryPojo.apiName != null">AND ofca.api_name = #{apiQueryPojo.apiName,jdbcType=VARCHAR}</if>
            <if test="apiQueryPojo.invokeState != null">AND ofca.invoke_state = #{apiQueryPojo.invokeState,jdbcType=VARCHAR}</if>
            <if test="apiQueryPojo.invokeResult != null">AND ofca.invoke_result = #{apiQueryPojo.invokeResult,jdbcType=VARCHAR}</if>
            <if test="apiQueryPojo.startDate != null">AND ofca.create_time &gt; #{apiQueryPojo.startDate,jdbcType=TIMESTAMP}</if>
            <if test="apiQueryPojo.endDate != null">AND ofca.create_time &lt; #{apiQueryPojo.endDate,jdbcType=TIMESTAMP}</if>
        </where>
    </sql>

    <select id="selects" parameterType="com.zhiweicloud.guest.pojo.ApiQueryPojo" resultMap="selectsMap">
        SELECT
            ofca.flight_center_api_id,
            ofca.api_name,
            ofca.customer_id,
            ofca.create_time,
            ofca.invoke_state,
            ofca.invoke_result,
            bc.customer_name
        FROM
            operator_flight_center_api ofca
        LEFT JOIN
            base_customer bc
        ON bc.customer_id = ofca.customer_id
        <include refid="selectsWhere"/>
    </select>

    <select id="countByCondition" parameterType="com.zhiweicloud.guest.pojo.ApiQueryPojo" resultType="int">
      SELECT
          COUNT(flight_center_api_id)
      FROM
	      operator_flight_center_api
        <where>
            <if test="apiQueryPojo.customerId != null">AND customer_id = #{apiQueryPojo.customerId,jdbcType=BIGINT}</if>
            <if test="apiQueryPojo.apiName != null">AND api_name = #{apiQueryPojo.apiName,jdbcType=VARCHAR}</if>
            <if test="apiQueryPojo.invokeState != null">AND invoke_state = #{apiQueryPojo.invokeState,jdbcType=VARCHAR}</if>
            <if test="apiQueryPojo.invokeResult != null">AND invoke_result = #{apiQueryPojo.invokeResult,jdbcType=VARCHAR}</if>
            <if test="apiQueryPojo.startDate != null">AND create_time &gt; #{apiQueryPojo.startDate,jdbcType=TIMESTAMP}</if>
            <if test="apiQueryPojo.endDate != null">AND create_time &lt; #{apiQueryPojo.endDate,jdbcType=TIMESTAMP}</if>
        </where>
    </select>

    <select id="selectsByConditionForPage" resultMap="selectsMap">
        SELECT
            ofca.flight_center_api_id,
            ofca.api_name,
            ofca.customer_id,
            ofca.create_time,
            ofca.invoke_state,
            ofca.invoke_result,
            bc.customer_name
        FROM
            operator_flight_center_api ofca
        LEFT JOIN
            base_customer bc
        ON bc.customer_id = ofca.customer_id
        <include refid="selectsWhere"/>
        LIMIT #{page}, #{len}
    </select>

</mapper>