<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.FlightPushPoMapper">

    <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.po.FlightPushPo">
        <id column="flight_push_id" jdbcType="BIGINT" property="flightPushId" />
        <result column="customer_id" jdbcType="BIGINT" property="customerId" />
        <result column="invoke_result" jdbcType="VARCHAR" property="invokeResult" />
    </resultMap>

    <sql id="insertName">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flightPushId != null">flight_push_id,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="invokeResult != null">invoke_result,</if>
        </trim>
    </sql>

    <sql id="insertValue">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flightPushId != null">#{flightPushId,jdbcType=BIGINT},</if>
            <if test="customerId != null">#{customerId,jdbcType=BIGINT},</if>
            <if test="invokeResult != null">#{invokeResult,jdbcType=VARCHAR},</if>
        </trim>
    </sql>

    <insert id="insert" parameterType="com.zhiweicloud.guest.po.FlightPushPo" useGeneratedKeys="true" keyProperty="flightPushId">
        INSERT INTO
          f_flight_push
        <include refid="insertName"/>
          VALUES
        <include refid="insertValue"/>
    </insert>

</mapper>