<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.FlightMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.Flight">
    <id column="flight_id" jdbcType="BIGINT" property="flightId" />
    <result column="flight_date" jdbcType="DATE" property="flightDate" />
    <result column="flight_no" jdbcType="VARCHAR" property="flightNo" />
    <result column="flight_depcode" jdbcType="VARCHAR" property="flightDepcode" />
    <result column="flight_arrcode" jdbcType="VARCHAR" property="flightArrcode" />
    <result column="plan_no" jdbcType="VARCHAR" property="planNo" />
    <result column="flight_position" jdbcType="VARCHAR" property="flightPosition" />
    <result column="board_in_out" jdbcType="SMALLINT" property="boardInOut" />
    <result column="is_in_or_out" jdbcType="SMALLINT" property="isInOrOut" />
    <result column="is_near_or_far" jdbcType="SMALLINT" property="isNearOrFar" />
    <result column="server_time" jdbcType="TIMESTAMP" property="serverTime" />
    <result column="fd_id" jdbcType="VARCHAR" property="fdId" />
    <result column="flight_company" jdbcType="VARCHAR" property="flightCompany" />
    <result column="flight_deptime_plan_date" jdbcType="TIMESTAMP" property="flightDeptimePlanDate" />
    <result column="flight_arrtime_plan_date" jdbcType="TIMESTAMP" property="flightArrtimePlanDate" />
    <result column="flight_deptime_ready_date" jdbcType="TIMESTAMP" property="flightDeptimeReadyDate" />
    <result column="flight_arrtime_ready_date" jdbcType="TIMESTAMP" property="flightArrtimeReadyDate" />
    <result column="flight_deptime_date" jdbcType="TIMESTAMP" property="flightDeptimeDate" />
    <result column="flight_arrtime_date" jdbcType="TIMESTAMP" property="flightArrtimeDate" />
    <result column="stop_flag" jdbcType="SMALLINT" property="stopFlag" />
    <result column="share_flag" jdbcType="SMALLINT" property="shareFlag" />
    <result column="share_flight_no" jdbcType="VARCHAR" property="shareFlightNo" />
    <result column="fill_flight_no" jdbcType="VARCHAR" property="fillFlightNo" />
    <result column="board_gate" jdbcType="VARCHAR" property="boardGate" />
    <result column="board_state" jdbcType="VARCHAR" property="boardState" />
    <result column="flight_state" jdbcType="VARCHAR" property="flightState" />
    <result column="flight_hterminal" jdbcType="VARCHAR" property="flightHterminal" />
    <result column="flight_terminal" jdbcType="VARCHAR" property="flightTerminal" />
    <result column="flight_dep" jdbcType="VARCHAR" property="flightDep" />
    <result column="flight_arr" jdbcType="VARCHAR" property="flightArr" />
    <result column="flight_dep_airport" jdbcType="VARCHAR" property="flightDepAirport" />
    <result column="flight_arr_airport" jdbcType="VARCHAR" property="flightArrAirport" />
    <result column="alternate_info" jdbcType="VARCHAR" property="alternateInfo" />
    <result column="org_timezone" jdbcType="VARCHAR" property="orgTimezone" />
    <result column="dst_timezone" jdbcType="VARCHAR" property="dstTimezone" />
    <result column="fcategory" jdbcType="VARCHAR" property="fcategory" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="board_gate_time" jdbcType="VARCHAR" property="boardGateTime" />
    <result column="schedule_time" jdbcType="TIMESTAMP" property="scheduleTime" />
    <result column="schedule_event_name" jdbcType="TIMESTAMP" property="scheduleEventName" />
    <result column="schedule_event_id" jdbcType="BIGINT" property="scheduleEventId" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="server_complete" jdbcType="SMALLINT" property="serverComplete" />
    <result column="server_complete_name" jdbcType="VARCHAR" property="serverCompleteName" />
    <result column="server_complete_id" jdbcType="BIGINT" property="serverCompleteId" />
    <result column="server_complete_time" jdbcType="TIMESTAMP" property="serverCompleteTime" />
    <result column="server_num" jdbcType="BIGINT" property="serverNum" />
    <result column="serv_id" jdbcType="BIGINT" property="servId" />
  </resultMap>
  <sql id="Base_Column_List">
    flight_id, flight_date, flight_no, flight_depcode, flight_arrcode, plan_no, flight_position,
    board_in_out, is_in_or_out, is_near_or_far, server_time, fd_id, flight_company, flight_deptime_plan_date, flight_arrtime_plan_date,
    flight_deptime_ready_date, flight_arrtime_ready_date, flight_deptime_date, flight_arrtime_date,
    stop_flag, share_flag, share_flight_no, fill_flight_no, board_gate, board_state,
    flight_state, flight_hterminal, flight_terminal, flight_dep, flight_arr, flight_dep_airport,
    flight_arr_airport, alternate_info, org_timezone, dst_timezone, fcategory, fid, board_gate_time, server_complete, server_complete_time,
    server_num, serv_id, server_complete_name, server_complete_id
  </sql>

  <!-- tc add 2017-03-30 -->
  <sql id="Base_Column_List_Update_Flight">
    flight_id, flight_date, flight_no, flight_depcode, flight_arrcode, plan_no, flight_position,
    board_in_out, is_in_or_out, is_near_or_far, server_time, fd_id, flight_company, flight_deptime_plan_date, flight_arrtime_plan_date,
    flight_deptime_ready_date, flight_arrtime_ready_date, flight_deptime_date, flight_arrtime_date,
    stop_flag, share_flag, share_flight_no, fill_flight_no, board_gate, board_state,
    flight_state, flight_hterminal, flight_terminal, flight_dep, flight_arr, flight_dep_airport,
    flight_arr_airport, alternate_info, org_timezone, dst_timezone, fcategory, fid, board_gate_time
  </sql>

  <resultMap id="SimpleFlightMap" type="com.zhiweicloud.guest.model.Flight">
    <id column="flight_id" jdbcType="BIGINT" property="flightId"/>
    <result column="flight_date" jdbcType="DATE" property="flightDate"/>
    <result column="flight_no" jdbcType="VARCHAR" property="flightNo"/>
    <result column="flight_depcode" jdbcType="VARCHAR" property="flightDepcode"/>
    <result column="flight_arrcode" jdbcType="VARCHAR" property="flightArrcode"/>
    <result column="plan_no" jdbcType="VARCHAR" property="planNo"/>
    <result column="flight_position" jdbcType="VARCHAR" property="flightPosition"/>
    <result column="board_in_out" jdbcType="SMALLINT" property="boardInOut"/>
    <result column="is_in_or_out" jdbcType="SMALLINT" property="isInOrOut"/>
    <result column="is_near_or_far" jdbcType="SMALLINT" property="isNearOrFar"/>
    <result column="server_time" jdbcType="TIMESTAMP" property="serverTime"/>
    <result column="fd_id" jdbcType="VARCHAR" property="fdId"/>
    <result column="flight_company" jdbcType="VARCHAR" property="flightCompany"/>
    <result column="flight_deptime_plan_date" jdbcType="TIMESTAMP" property="flightDeptimePlanDate"/>
    <result column="flight_arrtime_plan_date" jdbcType="TIMESTAMP" property="flightArrtimePlanDate"/>
    <result column="flight_deptime_ready_date" jdbcType="TIMESTAMP" property="flightDeptimeReadyDate"/>
    <result column="flight_arrtime_ready_date" jdbcType="TIMESTAMP" property="flightArrtimeReadyDate"/>
    <result column="flight_deptime_date" jdbcType="TIMESTAMP" property="flightDeptimeDate"/>
    <result column="flight_arrtime_date" jdbcType="TIMESTAMP" property="flightArrtimeDate"/>
    <result column="stop_flag" jdbcType="SMALLINT" property="stopFlag"/>
    <result column="share_flag" jdbcType="SMALLINT" property="shareFlag"/>
    <result column="share_flight_no" jdbcType="VARCHAR" property="shareFlightNo"/>
    <result column="fill_flight_no" jdbcType="VARCHAR" property="fillFlightNo"/>
    <result column="board_gate" jdbcType="VARCHAR" property="boardGate"/>
    <result column="board_state" jdbcType="VARCHAR" property="boardState"/>
    <result column="flight_state" jdbcType="VARCHAR" property="flightState"/>
    <result column="flight_hterminal" jdbcType="VARCHAR" property="flightHterminal"/>
    <result column="flight_terminal" jdbcType="VARCHAR" property="flightTerminal"/>
    <result column="flight_dep" jdbcType="VARCHAR" property="flightDep"/>
    <result column="flight_arr" jdbcType="VARCHAR" property="flightArr"/>
    <result column="flight_dep_airport" jdbcType="VARCHAR" property="flightDepAirport"/>
    <result column="flight_arr_airport" jdbcType="VARCHAR" property="flightArrAirport"/>
    <result column="alternate_info" jdbcType="VARCHAR" property="alternateInfo"/>
    <result column="org_timezone" jdbcType="VARCHAR" property="orgTimezone"/>
    <result column="dst_timezone" jdbcType="VARCHAR" property="dstTimezone"/>
    <result column="fcategory" jdbcType="VARCHAR" property="fcategory"/>
    <result column="fid" jdbcType="VARCHAR" property="fid"/>
    <result column="board_gate_time" jdbcType="VARCHAR" property="boardGateTime"/>
  </resultMap>

  <select id="getFlightListByConidition" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMap">
    select * from (select f.flight_id, f.flight_no, f.flight_date, f.flight_dep, f.flight_arr, f.flight_deptime_date, f.flight_arrtime_date,
    f.flight_deptime_plan_date, f.flight_arrtime_plan_date, f.flight_state, f.board_gate, f.board_state, f.is_in_or_out, s.schedule_event_id, s.schedule_time, s.name as schedule_event_name
    from flight as f left join (select fse.flight_id, fse.schedule_event_id, fse.schedule_time, se.name from (select * from flight_schedule_event where concat(flight_id,schedule_time)
    in (select concat(flight_id,max(schedule_time)) from flight_schedule_event where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0 group by flight_id))
    as fse left join (select schedule_event_id, name from schedule_event where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0)
    as se on fse.schedule_event_id =se.schedule_event_id) as s on f.flight_id = s.flight_id
    where f.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and f.is_deleted = 0) as fs
    inner join (select oi.flight_id, os.serviceName from order_info as oi right join (select order_id, service_detail->>"$.serviceDetailName" as serviceName from order_service
    where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0
    <if test="criteria.servIds != null and criteria.servIds != ''">
      and service_detail->>"$.servId" in (${criteria.servIds})
    </if>
    <if test="criteria.typeId != null and criteria.typeId != ''">
      and service_detail->>"$.serviceId" = #{criteria.typeId,jdbcType=BIGINT}
    </if>) as os on oi.order_id = os.order_id where oi.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and oi.is_deleted = 0
    group by oi.flight_id)
    as o on fs.flight_id = o.flight_id
    where 0 = 0
    <if test="criteria.flightDate != null and criteria.flightDate != ''">
      and fs.flight_date = #{criteria.flightDate,jdbcType=DATE}
    </if>
    <if test="criteria.flightNo != null and criteria.flightNo != ''">
      and fs.flight_no = #{criteria.flightNo,jdbcType=VARCHAR}
    </if>
    <if test="criteria.isInOrOut != null and criteria.isInOrOut != ''">
      and fs.is_in_or_out = #{criteria.isInOrOut,jdbcType=SMALLINT}
    </if>
    <if test="criteria.flightState != null and criteria.flightState != ''">
      and fs.flight_state = #{criteria.flightState,jdbcType=VARCHAR}
    </if>
    <if test="criteria.scheduleEventId != null and criteria.scheduleEventId != ''">
      and fs.schedule_event_id = #{criteria.scheduleEventId,jdbcType=BIGINT}
    </if>
    order by fs.schedule_time desc,
    <if test="criteria.isInOrOut == 0">
      fs.flight_deptime_plan_date desc,
    </if>
    <if test="criteria.isInOrOut == 1">
      fs.flight_arrtime_plan_date desc,
    </if>
      fs.flight_id desc
    LIMIT #{page.startPageNo},#{page.pCount}
  </select>

  <select id="getFlightListCount" parameterType="map" resultType="int">
    select count(fs.flight_id) from (select f.flight_id, f.flight_no, f.flight_date, f.flight_dep, f.flight_arr, f.flight_deptime_date, f.flight_arrtime_date,
    f.flight_deptime_plan_date, f.flight_arrtime_plan_date, f.flight_state, f.board_gate, f.board_state, f.is_in_or_out, s.schedule_event_id, s.schedule_time, s.name as schedule_event_name
    from flight as f left join (select fse.flight_id, fse.schedule_event_id, fse.schedule_time, se.name from (select * from flight_schedule_event where concat(flight_id,schedule_time)
    in (select concat(flight_id,max(schedule_time)) from flight_schedule_event where airport_code = #{airportCode,jdbcType=VARCHAR} and is_deleted = 0 group by flight_id))
    as fse left join (select schedule_event_id, name from schedule_event where airport_code = #{airportCode,jdbcType=VARCHAR} and is_deleted = 0)
    as se on fse.schedule_event_id =se.schedule_event_id) as s on f.flight_id = s.flight_id
    where f.airport_code = #{airportCode,jdbcType=VARCHAR} and f.is_deleted = 0) as fs
    inner join (select oi.flight_id, os.serviceName from order_info as oi right join (select order_id, service_detail->>"$.serviceDetailName" as serviceName from order_service
    where airport_code = #{airportCode,jdbcType=VARCHAR} and is_deleted = 0
    <if test="servIds != null and servIds != ''">
      and service_detail->>"$.servId" in (${servIds})
    </if>
    <if test="typeId != null and typeId != ''">
      and service_detail->>"$.serviceId" = #{typeId,jdbcType=BIGINT}
    </if>) as os on oi.order_id = os.order_id where oi.airport_code = #{airportCode,jdbcType=VARCHAR} and oi.is_deleted = 0
    group by oi.flight_id)
    as o on fs.flight_id = o.flight_id
    where 0 = 0
    <if test="flightDate != null and flightDate != ''">
      and fs.flight_date = #{flightDate,jdbcType=DATE}
    </if>
    <if test="flightNo != null and flightNo != ''">
      and fs.flight_no = #{flightNo,jdbcType=VARCHAR}
    </if>
    <if test="isInOrOut != null and isInOrOut != ''">
      and fs.is_in_or_out = #{isInOrOut,jdbcType=SMALLINT}
    </if>
    <if test="flightState != null and flightState != ''">
      and fs.flight_state = #{flightState,jdbcType=VARCHAR}
    </if>
    <if test="scheduleEventId != null and scheduleEventId != ''">
      and fs.schedule_event_id = #{scheduleEventId,jdbcType=BIGINT}
    </if>
  </select>

  <select id="getFlightListByOrderStatus" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMap">
    select * from (select f.flight_id, f.flight_no, f.flight_date, f.flight_dep, f.flight_arr, f.flight_deptime_date, f.flight_arrtime_date,
    f.flight_deptime_plan_date, f.flight_arrtime_plan_date, f.flight_state, f.flight_position, f.is_in_or_out, s.schedule_event_id, s.schedule_time, s.name as schedule_event_name
    from flight as f left join (select fse.flight_id, fse.schedule_event_id, fse.schedule_time, se.name from (select * from flight_schedule_event where concat(flight_schedule_event_id,flight_id,schedule_time)
    in (select concat(flight_schedule_event_id,flight_id,max(schedule_time)) from flight_schedule_event where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0 group by flight_id))
    as fse left join (select schedule_event_id, name from schedule_event where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0)
    as se on fse.schedule_event_id =se.schedule_event_id) as s on f.flight_id = s.flight_id
    where f.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and f.is_deleted = 0) as fs
    inner join (select oi.flight_id, os.servId, sum(os.serverNum) as serverNum, os.serviceName from order_info as oi
    right join (select order_id, service_detail->>"$.servId" as servId, service_detail->>"$.serverNum" as serverNum, service_detail->>"$.serviceDetailName" as serviceName from order_service
    where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0
    <if test="criteria.servIds != null and criteria.servIds != '' and !criteria.servIds.equals('调度管理')">
      and service_detail->>"$.servId" in (${criteria.servIds})
    </if>
    <if test="criteria.typeId != null and criteria.typeId != ''">
      and service_detail->>"$.serviceId" = #{criteria.typeId,jdbcType=BIGINT}
    </if>) as os on oi.order_id = os.order_id where oi.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and oi.is_deleted = 0
    and oi.product_name != '异地贵宾服务' and oi.order_status in ('已使用','已预约')
    <if test="criteria.serverComplete != null">
       and oi.server_complete = #{criteria.serverComplete,jdbcType=SMALLINT}
    </if>
    group by oi.flight_id
    <if test="!criteria.servIds.equals('调度管理')">
      , os.servId
    </if>)
    as o on fs.flight_id = o.flight_id
    where 0 = 0
    <if test="criteria.flightDate != null and criteria.flightDate != ''">
      and fs.flight_date = #{criteria.flightDate,jdbcType=DATE}
    </if>
    <if test="criteria.flightNo != null and criteria.flightNo != ''">
      and fs.flight_no = #{criteria.flightNo,jdbcType=VARCHAR}
    </if>
    <if test="criteria.isInOrOut != null and criteria.isInOrOut != ''">
      and fs.is_in_or_out = #{criteria.isInOrOut,jdbcType=SMALLINT}
    </if>
    <if test="criteria.flightState != null and criteria.flightState != ''">
      and fs.flight_state = #{criteria.flightState,jdbcType=VARCHAR}
    </if>
    <if test="criteria.scheduleEventId != null and criteria.scheduleEventId != ''">
      and fs.schedule_event_id = (#{criteria.scheduleEventId,jdbcType=BIGINT})
    </if>
    order by fs.schedule_time desc,
    <if test="criteria.isInOrOut == 0">
      fs.flight_deptime_plan_date desc,
    </if>
    <if test="criteria.isInOrOut == 1">
      fs.flight_arrtime_plan_date desc,
    </if>
      fs.flight_id desc
    LIMIT #{page.startPageNo},#{page.pCount}
  </select>

  <select id="getFlightListCountByOrderStatus" parameterType="map" resultType="int">
    select count(fs.flight_id) from (select f.flight_id, f.flight_no, f.flight_date, f.flight_dep, f.flight_arr, f.flight_deptime_date, f.flight_arrtime_date,
    f.flight_deptime_plan_date, f.flight_arrtime_plan_date, f.flight_state, f.flight_position, f.is_in_or_out, s.schedule_event_id, s.schedule_time, s.name as schedule_event_name
    from flight as f left join (select fse.flight_id, fse.schedule_event_id, fse.schedule_time, se.name from (select * from flight_schedule_event where concat(flight_schedule_event_id,flight_id,schedule_time)
    in (select concat(flight_schedule_event_id,flight_id,max(schedule_time)) from flight_schedule_event where airport_code = #{airportCode,jdbcType=VARCHAR} and is_deleted = 0  group by flight_id))
    as fse left join (select schedule_event_id, name from schedule_event where airport_code = #{airportCode,jdbcType=VARCHAR} and is_deleted = 0)
    as se on fse.schedule_event_id =se.schedule_event_id) as s on f.flight_id = s.flight_id
    where f.airport_code = #{airportCode,jdbcType=VARCHAR} and f.is_deleted = 0) as fs
    inner join (select oi.flight_id, os.servId, sum(os.serverNum) as serverNum, os.serviceName from order_info as oi
    right join (select order_id, service_detail->>"$.servId" as servId, service_detail->>"$.serverNum" as serverNum, service_detail->>"$.serviceDetailName" as serviceName from order_service
    where airport_code = #{airportCode,jdbcType=VARCHAR} and is_deleted = 0
    <if test="servIds != null and servIds != '' and !servIds.equals('调度管理')">
      and service_detail->>"$.servId" in (${servIds})
    </if>
    <if test="typeId != null and typeId != ''">
      and service_detail->>"$.serviceId" = #{typeId,jdbcType=BIGINT}
    </if>) as os on oi.order_id = os.order_id where oi.airport_code = #{airportCode,jdbcType=VARCHAR} and oi.is_deleted = 0
    and oi.product_name != '异地贵宾服务' and oi.order_status in ('已使用','已预约')
    <if test="serverComplete != null">
      and oi.server_complete = #{serverComplete,jdbcType=SMALLINT}
    </if>
    group by oi.flight_id
    <if test="!servIds.equals('调度管理')">
      , os.servId
    </if>)
    as o on fs.flight_id = o.flight_id
    where 0 = 0
    <if test="flightDate != null and flightDate != ''">
      and fs.flight_date = #{flightDate,jdbcType=DATE}
    </if>
    <if test="flightNo != null and flightNo != ''">
      and fs.flight_no = #{flightNo,jdbcType=VARCHAR}
    </if>
    <if test="isInOrOut != null and isInOrOut != ''">
      and fs.is_in_or_out = #{isInOrOut,jdbcType=SMALLINT}
    </if>
    <if test="flightState != null and flightState != ''">
      and fs.flight_state = #{flightState,jdbcType=VARCHAR}
    </if>
    <if test="scheduleEventId != null and scheduleEventId != ''">
      and fs.schedule_event_id = #{scheduleEventId,jdbcType=BIGINT}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select f.*, o.server_complete, o.server_complete_time, o.server_complete_name from flight as f left join
    (select server_complete, server_complete_time, flight_id, server_complete_name from order_info where is_deleted = 0 and airport_code = #{airportCode,jdbcType=VARCHAR} and flight_id = #{flightId,jdbcType=BIGINT}
    group by flight_id) as o on f.flight_id = o.flight_id where f.flight_id = #{flightId,jdbcType=BIGINT} and f.airport_code = #{airportCode,jdbcType=VARCHAR} and f.is_deleted = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from flight
    where flight_id = #{flightId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhiweicloud.guest.model.Flight">
    insert into flight (flight_id, flight_date, flight_no,
      flight_depcode, flight_arrcode, plan_no,
      flight_position, board_in_out, is_in_or_out, is_near_or_far,
      server_time, fd_id, flight_company,
      flight_deptime_plan_date, flight_arrtime_plan_date,
      flight_deptime_ready_date, flight_arrtime_ready_date,
      flight_deptime_date, flight_arrtime_date, stop_flag,
      share_flag, share_flight_no, fill_flight_no,
      board_gate, board_state, flight_state,
      flight_hterminal, flight_terminal, flight_dep,
      flight_arr, flight_dep_airport, flight_arr_airport,
      alternate_info, org_timezone, dst_timezone,
      fcategory, fid, board_gate_time
      )
    values (#{flightId,jdbcType=BIGINT}, #{flightDate,jdbcType=DATE}, #{flightNo,jdbcType=VARCHAR},
      #{flightDepcode,jdbcType=VARCHAR}, #{flightArrcode,jdbcType=VARCHAR}, #{planNo,jdbcType=VARCHAR},
      #{flightPosition,jdbcType=VARCHAR}, #{boardInOut,jdbcType=SMALLINT}, #{isInOrOut,jdbcType=SMALLINT}, #{isNearOrFar,jdbcType=SMALLINT},
      #{serverTime,jdbcType=TIMESTAMP}, #{fdId,jdbcType=VARCHAR}, #{flightCompany,jdbcType=VARCHAR},
      #{flightDeptimePlanDate,jdbcType=TIMESTAMP}, #{flightArrtimePlanDate,jdbcType=TIMESTAMP},
      #{flightDeptimeReadyDate,jdbcType=TIMESTAMP}, #{flightArrtimeReadyDate,jdbcType=TIMESTAMP},
      #{flightDeptimeDate,jdbcType=TIMESTAMP}, #{flightArrtimeDate,jdbcType=TIMESTAMP}, #{stopFlag,jdbcType=SMALLINT},
      #{shareFlag,jdbcType=SMALLINT}, #{shareFlightNo,jdbcType=VARCHAR}, #{fillFlightNo,jdbcType=VARCHAR},
      #{boardGate,jdbcType=VARCHAR}, #{boardState,jdbcType=VARCHAR}, #{flightState,jdbcType=VARCHAR},
      #{flightHterminal,jdbcType=VARCHAR}, #{flightTerminal,jdbcType=VARCHAR}, #{flightDep,jdbcType=VARCHAR},
      #{flightArr,jdbcType=VARCHAR}, #{flightDepAirport,jdbcType=VARCHAR}, #{flightArrAirport,jdbcType=VARCHAR},
      #{alternateInfo,jdbcType=VARCHAR}, #{orgTimezone,jdbcType=VARCHAR}, #{dstTimezone,jdbcType=VARCHAR},
      #{fcategory,jdbcType=VARCHAR}, #{fid,jdbcType=VARCHAR}, #{boardGateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhiweicloud.guest.model.Flight">
    insert into flight
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flightId != null">
        flight_id,
      </if>
      <if test="flightDate != null">
        flight_date,
      </if>
      <if test="flightNo != null">
        flight_no,
      </if>
      <if test="flightDepcode != null">
        flight_depcode,
      </if>
      <if test="flightArrcode != null">
        flight_arrcode,
      </if>
      <if test="planNo != null">
        plan_no,
      </if>
      <if test="flightPosition != null">
        flight_position,
      </if>
      <if test="boardInOut != null">
        board_in_out,
      </if>
      <if test="isInOrOut != null">
        is_in_or_out,
      </if>
      <if test="isNearOrFar != null">
        is_near_or_far,
      </if>
      <if test="serverTime != null">
        server_time,
      </if>
      <if test="fdId != null">
        fd_id,
      </if>
      <if test="flightCompany != null">
        flight_company,
      </if>
      <if test="flightDeptimePlanDate != null">
        flight_deptime_plan_date,
      </if>
      <if test="flightArrtimePlanDate != null">
        flight_arrtime_plan_date,
      </if>
      <if test="flightDeptimeReadyDate != null">
        flight_deptime_ready_date,
      </if>
      <if test="flightArrtimeReadyDate != null">
        flight_arrtime_ready_date,
      </if>
      <if test="flightDeptimeDate != null">
        flight_deptime_date,
      </if>
      <if test="flightArrtimeDate != null">
        flight_arrtime_date,
      </if>
      <if test="stopFlag != null">
        stop_flag,
      </if>
      <if test="shareFlag != null">
        share_flag,
      </if>
      <if test="shareFlightNo != null">
        share_flight_no,
      </if>
      <if test="fillFlightNo != null">
        fill_flight_no,
      </if>
      <if test="boardGate != null">
        board_gate,
      </if>
      <if test="boardState != null">
        board_state,
      </if>
      <if test="flightState != null">
        flight_state,
      </if>
      <if test="flightHterminal != null">
        flight_hterminal,
      </if>
      <if test="flightTerminal != null">
        flight_terminal,
      </if>
      <if test="flightDep != null">
        flight_dep,
      </if>
      <if test="flightArr != null">
        flight_arr,
      </if>
      <if test="flightDepAirport != null">
        flight_dep_airport,
      </if>
      <if test="flightArrAirport != null">
        flight_arr_airport,
      </if>
      <if test="alternateInfo != null">
        alternate_info,
      </if>
      <if test="orgTimezone != null">
        org_timezone,
      </if>
      <if test="dstTimezone != null">
        dst_timezone,
      </if>
      <if test="fcategory != null">
        fcategory,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="boardGateTime != null">
        board_gate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flightId != null">
        #{flightId,jdbcType=BIGINT},
      </if>
      <if test="flightDate != null">
        #{flightDate,jdbcType=DATE},
      </if>
      <if test="flightNo != null">
        #{flightNo,jdbcType=VARCHAR},
      </if>
      <if test="flightDepcode != null">
        #{flightDepcode,jdbcType=VARCHAR},
      </if>
      <if test="flightArrcode != null">
        #{flightArrcode,jdbcType=VARCHAR},
      </if>
      <if test="planNo != null">
        #{planNo,jdbcType=VARCHAR},
      </if>
      <if test="flightPosition != null">
        #{flightPosition,jdbcType=VARCHAR},
      </if>
      <if test="boardInOut != null">
        #{boardInOut,jdbcType=SMALLINT},
      </if>
      <if test="isInOrOut != null">
        #{isInOrOut,jdbcType=SMALLINT},
      </if>
      <if test="isNearOrFar != null">
        #{isNearOrFar,jdbcType=SMALLINT},
      </if>
      <if test="serverTime != null">
        #{serverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fdId != null">
        #{fdId,jdbcType=VARCHAR},
      </if>
      <if test="flightCompany != null">
        #{flightCompany,jdbcType=VARCHAR},
      </if>
      <if test="flightDeptimePlanDate != null">
        #{flightDeptimePlanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flightArrtimePlanDate != null">
        #{flightArrtimePlanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flightDeptimeReadyDate != null">
        #{flightDeptimeReadyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flightArrtimeReadyDate != null">
        #{flightArrtimeReadyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flightDeptimeDate != null">
        #{flightDeptimeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flightArrtimeDate != null">
        #{flightArrtimeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stopFlag != null">
        #{stopFlag,jdbcType=SMALLINT},
      </if>
      <if test="shareFlag != null">
        #{shareFlag,jdbcType=SMALLINT},
      </if>
      <if test="shareFlightNo != null">
        #{shareFlightNo,jdbcType=VARCHAR},
      </if>
      <if test="fillFlightNo != null">
        #{fillFlightNo,jdbcType=VARCHAR},
      </if>
      <if test="boardGate != null">
        #{boardGate,jdbcType=VARCHAR},
      </if>
      <if test="boardState != null">
        #{boardState,jdbcType=VARCHAR},
      </if>
      <if test="flightState != null">
        #{flightState,jdbcType=VARCHAR},
      </if>
      <if test="flightHterminal != null">
        #{flightHterminal,jdbcType=VARCHAR},
      </if>
      <if test="flightTerminal != null">
        #{flightTerminal,jdbcType=VARCHAR},
      </if>
      <if test="flightDep != null">
        #{flightDep,jdbcType=VARCHAR},
      </if>
      <if test="flightArr != null">
        #{flightArr,jdbcType=VARCHAR},
      </if>
      <if test="flightDepAirport != null">
        #{flightDepAirport,jdbcType=VARCHAR},
      </if>
      <if test="flightArrAirport != null">
        #{flightArrAirport,jdbcType=VARCHAR},
      </if>
      <if test="alternateInfo != null">
        #{alternateInfo,jdbcType=VARCHAR},
      </if>
      <if test="orgTimezone != null">
        #{orgTimezone,jdbcType=VARCHAR},
      </if>
      <if test="dstTimezone != null">
        #{dstTimezone,jdbcType=VARCHAR},
      </if>
      <if test="fcategory != null">
        #{fcategory,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="boardGateTime != null">
        #{boardGateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhiweicloud.guest.model.Flight">
    UPDATE flight
    <set>
      <if test="flightDate != null">
        flight_date = #{flightDate,jdbcType=DATE},
      </if>
      <if test="flightNo != null">
        flight_no = #{flightNo,jdbcType=VARCHAR},
      </if>
      <if test="flightDepcode != null">
        flight_depcode = #{flightDepcode,jdbcType=VARCHAR},
      </if>
      <if test="flightArrcode != null">
        flight_arrcode = #{flightArrcode,jdbcType=VARCHAR},
      </if>
      <if test="planNo != null">
        plan_no = #{planNo,jdbcType=VARCHAR},
      </if>
      <if test="flightPosition != null">
        flight_position = #{flightPosition,jdbcType=VARCHAR},
      </if>
      <if test="boardInOut != null">
        board_in_out = #{boardInOut,jdbcType=SMALLINT},
      </if>
      <if test="isInOrOut != null">
        is_in_or_out = #{isInOrOut,jdbcType=SMALLINT},
      </if>
      <if test="isNearOrFar != null">
        is_near_or_far = #{isNearOrFar,jdbcType=SMALLINT},
      </if>
      <if test="serverTime != null">
        server_time = #{serverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fdId != null">
        fd_id = #{fdId,jdbcType=VARCHAR},
      </if>
      <if test="flightCompany != null">
        flight_company = #{flightCompany,jdbcType=VARCHAR},
      </if>
      <if test="flightDeptimePlanDate != null">
        flight_deptime_plan_date = #{flightDeptimePlanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flightArrtimePlanDate != null">
        flight_arrtime_plan_date = #{flightArrtimePlanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flightDeptimeReadyDate != null">
        flight_deptime_ready_date = #{flightDeptimeReadyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flightArrtimeReadyDate != null">
        flight_arrtime_ready_date = #{flightArrtimeReadyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flightDeptimeDate != null">
        flight_deptime_date = #{flightDeptimeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flightArrtimeDate != null">
        flight_arrtime_date = #{flightArrtimeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stopFlag != null">
        stop_flag = #{stopFlag,jdbcType=SMALLINT},
      </if>
      <if test="shareFlag != null">
        share_flag = #{shareFlag,jdbcType=SMALLINT},
      </if>
      <if test="shareFlightNo != null">
        share_flight_no = #{shareFlightNo,jdbcType=VARCHAR},
      </if>
      <if test="fillFlightNo != null">
        fill_flight_no = #{fillFlightNo,jdbcType=VARCHAR},
      </if>
      <if test="boardGate != null">
        board_gate = #{boardGate,jdbcType=VARCHAR},
      </if>
      <if test="boardState != null">
        board_state = #{boardState,jdbcType=VARCHAR},
      </if>
      <if test="flightState != null">
        flight_state = #{flightState,jdbcType=VARCHAR},
      </if>
      <if test="flightHterminal != null">
        flight_hterminal = #{flightHterminal,jdbcType=VARCHAR},
      </if>
      <if test="flightTerminal != null">
        flight_terminal = #{flightTerminal,jdbcType=VARCHAR},
      </if>
      <if test="flightDep != null">
        flight_dep = #{flightDep,jdbcType=VARCHAR},
      </if>
      <if test="flightArr != null">
        flight_arr = #{flightArr,jdbcType=VARCHAR},
      </if>
      <if test="flightDepAirport != null">
        flight_dep_airport = #{flightDepAirport,jdbcType=VARCHAR},
      </if>
      <if test="flightArrAirport != null">
        flight_arr_airport = #{flightArrAirport,jdbcType=VARCHAR},
      </if>
      <if test="alternateInfo != null">
        alternate_info = #{alternateInfo,jdbcType=VARCHAR},
      </if>
      <if test="orgTimezone != null">
        org_timezone = #{orgTimezone,jdbcType=VARCHAR},
      </if>
      <if test="dstTimezone != null">
        dst_timezone = #{dstTimezone,jdbcType=VARCHAR},
      </if>
      <if test="fcategory != null">
        fcategory = #{fcategory,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="boardGateTime != null">
        board_gate_time = #{boardGateTime,jdbcType=VARCHAR},
      </if>
      update_time = now(),update_user = #{updateUser,jdbcType=BIGINT}
    </set>
    WHERE flight_id = #{flightId,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zhiweicloud.guest.model.Flight">
    update flight
    set flight_date = #{flightDate,jdbcType=DATE},
      flight_no = #{flightNo,jdbcType=VARCHAR},
      flight_depcode = #{flightDepcode,jdbcType=VARCHAR},
      flight_arrcode = #{flightArrcode,jdbcType=VARCHAR},
      plan_no = #{planNo,jdbcType=VARCHAR},
      flight_position = #{flightPosition,jdbcType=VARCHAR},
      board_in_out = #{boardInOut,jdbcType=SMALLINT},
      is_in_or_out = #{isInOrOut,jdbcType=SMALLINT},
      is_near_or_far = #{isNearOrFar,jdbcType=SMALLINT},
      server_time = #{serverTime,jdbcType=TIMESTAMP},
      fd_id = #{fdId,jdbcType=VARCHAR},
      flight_company = #{flightCompany,jdbcType=VARCHAR},
      flight_deptime_plan_date = #{flightDeptimePlanDate,jdbcType=TIMESTAMP},
      flight_arrtime_plan_date = #{flightArrtimePlanDate,jdbcType=TIMESTAMP},
      flight_deptime_ready_date = #{flightDeptimeReadyDate,jdbcType=TIMESTAMP},
      flight_arrtime_ready_date = #{flightArrtimeReadyDate,jdbcType=TIMESTAMP},
      flight_deptime_date = #{flightDeptimeDate,jdbcType=TIMESTAMP},
      flight_arrtime_date = #{flightArrtimeDate,jdbcType=TIMESTAMP},
      stop_flag = #{stopFlag,jdbcType=SMALLINT},
      share_flag = #{shareFlag,jdbcType=SMALLINT},
      share_flight_no = #{shareFlightNo,jdbcType=VARCHAR},
      fill_flight_no = #{fillFlightNo,jdbcType=VARCHAR},
      board_gate = #{boardGate,jdbcType=VARCHAR},
      board_state = #{boardState,jdbcType=VARCHAR},
      flight_state = #{flightState,jdbcType=VARCHAR},
      flight_hterminal = #{flightHterminal,jdbcType=VARCHAR},
      flight_terminal = #{flightTerminal,jdbcType=VARCHAR},
      flight_dep = #{flightDep,jdbcType=VARCHAR},
      flight_arr = #{flightArr,jdbcType=VARCHAR},
      flight_dep_airport = #{flightDepAirport,jdbcType=VARCHAR},
      flight_arr_airport = #{flightArrAirport,jdbcType=VARCHAR},
      alternate_info = #{alternateInfo,jdbcType=VARCHAR},
      org_timezone = #{orgTimezone,jdbcType=VARCHAR},
      dst_timezone = #{dstTimezone,jdbcType=VARCHAR},
      fcategory = #{fcategory,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=VARCHAR},
      board_gate_time = #{boardGateTime,jdbcType=VARCHAR}
    where flight_id = #{flightId,jdbcType=BIGINT} and airport_code = #{airportCode,jdbcType=VARCHAR}
  </update>

    <update id="updateFlight" parameterType="com.zhiweicloud.guest.model.Flight">
    UPDATE flight
    <set>
        <if test="flightPosition != null">
            flight_position = #{flightPosition,jdbcType=VARCHAR},
        </if>
        <if test="boardInOut != null">
            board_in_out = #{boardInOut,jdbcType=SMALLINT},
        </if>
        <if test="isInOrOut != null">
            is_in_or_out = #{isInOrOut,jdbcType=SMALLINT},
        </if>
        <if test="isNearOrFar != null">
            is_near_or_far = #{isNearOrFar,jdbcType=SMALLINT},
        </if>
        <if test="fdId != null">
            fd_id = #{fdId,jdbcType=VARCHAR},
        </if>
        <if test="flightCompany != null">
            flight_company = #{flightCompany,jdbcType=VARCHAR},
        </if>
        <if test="flightDeptimePlanDate != null">
            flight_deptime_plan_date = #{flightDeptimePlanDate,jdbcType=TIMESTAMP},
        </if>
        <if test="flightArrtimePlanDate != null">
            flight_arrtime_plan_date = #{flightArrtimePlanDate,jdbcType=TIMESTAMP},
        </if>
        <if test="flightDeptimeReadyDate != null">
            flight_deptime_ready_date = #{flightDeptimeReadyDate,jdbcType=TIMESTAMP},
        </if>
        <if test="flightArrtimeReadyDate != null">
            flight_arrtime_ready_date = #{flightArrtimeReadyDate,jdbcType=TIMESTAMP},
        </if>
        <if test="flightDeptimeDate != null">
            flight_deptime_date = #{flightDeptimeDate,jdbcType=TIMESTAMP},
        </if>
        <if test="flightArrtimeDate != null">
            flight_arrtime_date = #{flightArrtimeDate,jdbcType=TIMESTAMP},
        </if>
        <if test="stopFlag != null">
            stop_flag = #{stopFlag,jdbcType=SMALLINT},
        </if>
        <if test="shareFlag != null">
            share_flag = #{shareFlag,jdbcType=SMALLINT},
        </if>
        <if test="shareFlightNo != null">
            share_flight_no = #{shareFlightNo,jdbcType=VARCHAR},
        </if>
        <if test="fillFlightNo != null">
            fill_flight_no = #{fillFlightNo,jdbcType=VARCHAR},
        </if>
        <if test="boardGate != null">
            board_gate = #{boardGate,jdbcType=VARCHAR},
        </if>
        <if test="boardState != null">
            board_state = #{boardState,jdbcType=VARCHAR},
        </if>
        <if test="flightState != null">
            flight_state = #{flightState,jdbcType=VARCHAR},
        </if>
        <if test="flightHterminal != null">
            flight_hterminal = #{flightHterminal,jdbcType=VARCHAR},
        </if>
        <if test="flightTerminal != null">
            flight_terminal = #{flightTerminal,jdbcType=VARCHAR},
        </if>
        <if test="flightDep != null">
            flight_dep = #{flightDep,jdbcType=VARCHAR},
        </if>
        <if test="flightArr != null">
            flight_arr = #{flightArr,jdbcType=VARCHAR},
        </if>
        <if test="flightDepAirport != null">
            flight_dep_airport = #{flightDepAirport,jdbcType=VARCHAR},
        </if>
        <if test="flightArrAirport != null">
            flight_arr_airport = #{flightArrAirport,jdbcType=VARCHAR},
        </if>
        <if test="alternateInfo != null">
            alternate_info = #{alternateInfo,jdbcType=VARCHAR},
        </if>
        <if test="orgTimezone != null">
            org_timezone = #{orgTimezone,jdbcType=VARCHAR},
        </if>
        <if test="dstTimezone != null">
            dst_timezone = #{dstTimezone,jdbcType=VARCHAR},
        </if>
        <if test="fcategory != null">
            fcategory = #{fcategory,jdbcType=VARCHAR},
        </if>
        <if test="fid != null">
            fid = #{fid,jdbcType=VARCHAR},
        </if>
        <if test="boardGateTime != null">
            board_gate_time = #{boardGateTime,jdbcType=VARCHAR},
        </if>
        update_time = now(),update_user = #{updateUser}
    </set>
    WHERE flight_id = #{flightId,jdbcType=BIGINT}
    </update>

  <select id="isFlightExist" parameterType="com.zhiweicloud.guest.model.Flight" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List_Update_Flight"/>
    FROM flight WHERE
    flight_date = #{flightDate,jdbcType=DATE} AND
    flight_no = #{flightNo,jdbcType=VARCHAR} AND
    flight_depcode = #{flightDepcode,jdbcType=VARCHAR} AND
    flight_arrcode = #{flightArrcode,jdbcType=VARCHAR} AND
    is_deleted = 0
  </select>

  <select id="selectByFlightId" parameterType="java.lang.Long" resultMap="SimpleFlightMap">
    SELECT
    <include refid="Base_Column_List_Update_Flight"/>
    FROM flight WHERE
    flight_id = #{flightId, jdbcType=BIGINT} AND
    is_deleted = 0
  </select>

</mapper>