<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.FlightMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.Flight">
    <id column="flight_id" jdbcType="BIGINT" property="flightId" />
    <result column="flight_date" jdbcType="DATE" property="flightDate" />
    <result column="flight_no" jdbcType="VARCHAR" property="flightNo" />
    <result column="flight_depcode" jdbcType="VARCHAR" property="flightDepcode" />
    <result column="flight_arrcode" jdbcType="VARCHAR" property="flightArrcode" />
    <result column="flight_dep" jdbcType="VARCHAR" property="flightDep" />
    <result column="flight_arr" jdbcType="VARCHAR" property="flightArr" />
    <result column="flight_dep_airport" jdbcType="VARCHAR" property="flightDepAirport" />
    <result column="flight_arr_airport" jdbcType="VARCHAR" property="flightArrAirport" />
    <result column="plan_no" jdbcType="VARCHAR" property="planNo" />
    <result column="flight_position" jdbcType="VARCHAR" property="flightPosition" />
    <result column="board_in_out" jdbcType="SMALLINT" property="boardInOut" />
    <result column="flight_status" jdbcType="SMALLINT" property="flightStatus" />
    <result column="real_landing_time" jdbcType="VARCHAR" property="realLandingTime" />
    <result column="real_take_off_time" jdbcType="VARCHAR" property="realTakeOffTime" />
    <result column="plan_take_off_time" jdbcType="VARCHAR" property="planTakeOffTime" />
    <result column="plan_landing_time" jdbcType="VARCHAR" property="planLandingTime" />
    <result column="is_in_or_out" jdbcType="SMALLINT" property="isInOrOut" />
    <result column="boarding_port" jdbcType="VARCHAR" property="boardingPort" />
    <result column="board_status" jdbcType="SMALLINT" property="boardStatus" />
    <result column="is_near_or_far" jdbcType="SMALLINT" property="isNearOrFar" />
    <result column="server_time" jdbcType="TIMESTAMP" property="serverTime" />
    <result column="schedule_time" jdbcType="TIMESTAMP" property="scheduleTime" />
    <result column="schedule_event_name" jdbcType="TIMESTAMP" property="scheduleEventName" />
  </resultMap>
  <sql id="Base_Column_List">
    flight_id, flight_date, flight_no, flight_depcode, flight_arrcode,
    flight_dep, flight_arr, flight_dep_airport, flight_arr_airport, plan_no, flight_position, 
    board_in_out, flight_status, real_landing_time, real_take_off_time, plan_take_off_time, 
    plan_landing_time, is_in_or_out, boarding_port, board_status, is_near_or_far, server_time
  </sql>

  <select id="getFlightListByConidition" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMap">
    select * from (select f.flight_id, f.flight_no, f.flight_date, f.flight_dep, f.flight_arr, f.real_landing_time, f.real_take_off_time,
    f.plan_take_off_time, f.plan_landing_time, f.flight_status, f.boarding_port, f.board_status, s.schedule_time, s.name as schedule_event_name
    from flight as f right join (select fse.flight_id, se.schedule_event_id, se.schedule_time, se.name from flight_schedule_event as fse left join
    (select schedule_event_id, schedule_time, name from schedule_event where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0)
    as se on fse.schedule_event_id =se.schedule_event_id
    where fse.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and fse.is_deleted = 0) as s on f.flight_id = s.flight_id
    where f.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and f.is_deleted = 0) as fs
    right join (select oi.flight_id from order_info as oi right join (select order_id from order_service
    where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0
    <if test="criteria.servId != null">
      and service_detail->>"$.serviceDetailId" = #{criteria.servId,jdbcType=BIGINT}
    </if>) as os on oi.order_id = os.order_id where oi.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and oi.is_deleted = 0)
    as o on fs.flight_id = o.flight_id
    where 0 = 0
    <if test="criteria.flightDate != null">
      and fs.flight_date = #{criteria.flightDate,jdbcType=DATE}
    </if>
    <if test="criteria.flightNo != null">
      and fs.flight_no = #{criteria.flightNo,jdbcType=VARCHAR}
    </if>
    <if test="criteria.isInOrOut != null">
      and fs.is_in_or_out = #{criteria.isInOrOut,jdbcType=SMALLINT}
    </if>
    <if test="criteria.flightStatus != null">
      and fs.flight_status = #{criteria.flightStatus,jdbcType=SMALLINT}
    </if>
    <if test="criteria.scheduleEventId != null">
      and fs.schedule_event_id = #{criteria.scheduleEventId,jdbcType=BIGINT}
    </if>
    order by fs.schedule_time desc,
    <if test="criteria.isInOrOut == 0">
      fs.plan_take_off_time desc
    </if>
    <if test="criteria.isInOrOut == 1">
      fs.plan_landing_time desc
    </if>
    LIMIT #{page.startPageNo},#{page.pCount}
  </select>

  <select id="getFlightListCount" parameterType="map" resultType="int">
    select count(fs.flight_id) from (select f.flight_id, f.flight_no, f.flight_date, f.flight_dep, f.flight_arr, f.real_landing_time, f.real_take_off_time,
    f.plan_take_off_time, f.plan_landing_time, f.flight_status, f.boarding_port, f.board_status, s.schedule_time, s.name as schedule_event_name
    from flight as f right join (select fse.flight_id, se.schedule_event_id, se.schedule_time, se.name from flight_schedule_event as fse left join
    (select schedule_event_id, schedule_time, name from schedule_event where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0)
    as se on fse.schedule_event_id =se.schedule_event_id
    where fse.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and fse.is_deleted = 0) as s on f.flight_id = s.flight_id
    where f.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and f.is_deleted = 0) as fs
    right join (select oi.flight_id from order_info as oi right join (select order_id from order_service
    where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0
    <if test="criteria.servId != null">
      and service_detail->>"$.serviceDetailId" = #{criteria.servId,jdbcType=BIGINT}
    </if>) as os on oi.order_id = os.order_id where oi.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and oi.is_deleted = 0)
    as o on fs.flight_id = o.flight_id
    where 0 = 0
    <if test="criteria.flightDate != null">
      and fs.flight_date = #{criteria.flightDate,jdbcType=DATE}
    </if>
    <if test="criteria.flightNo != null">
      and fs.flight_no = #{criteria.flightNo,jdbcType=VARCHAR}
    </if>
    <if test="criteria.isInOrOut != null">
      and fs.is_in_or_out = #{criteria.isInOrOut,jdbcType=SMALLINT}
    </if>
    <if test="criteria.flightStatus != null">
      and fs.flight_status = #{criteria.flightStatus,jdbcType=SMALLINT}
    </if>
    <if test="criteria.scheduleEventId != null">
      and fs.schedule_event_id = #{criteria.scheduleEventId,jdbcType=BIGINT}
    </if>
    order by fs.schedule_time desc,
    <if test="criteria.isInOrOut == 0">
      fs.plan_take_off_time desc
    </if>
    <if test="criteria.isInOrOut == 1">
      fs.plan_landing_time desc
    </if>
  </select>

  <select id="getFlightListByOrderStatus" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMap">
    select * from (select f.flight_id, f.flight_no, f.flight_date, f.flight_dep, f.flight_arr, f.real_landing_time, f.real_take_off_time,
    f.plan_take_off_time, f.plan_landing_time, f.flight_status, f.boarding_port, f.board_status, s.schedule_time, s.name as schedule_event_name
    from flight as f right join (select fse.flight_id, se.schedule_event_id, se.schedule_time, se.name from flight_schedule_event as fse left join
    (select schedule_event_id, schedule_time, name from schedule_event where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0)
    as se on fse.schedule_event_id =se.schedule_event_id
    where fse.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and fse.is_deleted = 0) as s on f.flight_id = s.flight_id
    where f.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and f.is_deleted = 0) as fs
    right join (select oi.flight_id from order_info as oi right join (select order_id from order_service
    where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0
    <if test="criteria.servId != null">
      and service_detail->>"$.serviceDetailId" = #{criteria.servId,jdbcType=BIGINT}
    </if>) as os on oi.order_id = os.order_id where oi.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and oi.is_deleted = 0
    and server_complete = #{criteria.serverComplete,jdbcType=SMALLINT})
    as o on fs.flight_id = o.flight_id
    where 0 = 0
    <if test="criteria.flightDate != null">
      and fs.flight_date = #{criteria.flightDate,jdbcType=DATE}
    </if>
    <if test="criteria.flightNo != null">
      and fs.flight_no = #{criteria.flightNo,jdbcType=VARCHAR}
    </if>
    <if test="criteria.isInOrOut != null">
      and fs.is_in_or_out = #{criteria.isInOrOut,jdbcType=SMALLINT}
    </if>
    <if test="criteria.flightStatus != null">
      and fs.flight_status = #{criteria.flightStatus,jdbcType=SMALLINT}
    </if>
    <if test="criteria.scheduleEventId != null">
      and fs.schedule_event_id = #{criteria.scheduleEventId,jdbcType=BIGINT}
    </if>
    order by fs.schedule_time desc,
    <if test="criteria.isInOrOut == 0">
      fs.plan_take_off_time desc
    </if>
    <if test="criteria.isInOrOut == 1">
      fs.plan_landing_time desc
    </if>
    LIMIT #{page.startPageNo},#{page.pCount}
  </select>

  <select id="getFlightListCountByOrderStatus" parameterType="map" resultType="int">
    select count(fs.flight_id) from (select f.flight_id, f.flight_no, f.flight_date, f.flight_dep, f.flight_arr, f.real_landing_time, f.real_take_off_time,
    f.plan_take_off_time, f.plan_landing_time, f.flight_status, f.boarding_port, f.board_status, s.schedule_time, s.name as schedule_event_name
    from flight as f right join (select fse.flight_id, se.schedule_event_id, se.schedule_time, se.name from flight_schedule_event as fse left join
    (select schedule_event_id, schedule_time, name from schedule_event where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0)
    as se on fse.schedule_event_id =se.schedule_event_id
    where fse.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and fse.is_deleted = 0) as s on f.flight_id = s.flight_id
    where f.airport_code = #{airportCode,jdbcType=VARCHAR} and f.is_deleted = 0) as fs
    right join (select oi.flight_id from order_info as oi right join (select order_id from order_service
    where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0
    <if test="criteria.servId != null">
      and service_detail->>"$.serviceDetailId" = #{criteria.servId,jdbcType=BIGINT}
    </if>) as os on oi.order_id = os.order_id where oi.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and oi.is_deleted = 0
    and server_complete = #{criteria.serverComplete,jdbcType=SMALLINT})
    as o on fs.flight_id = o.flight_id
    where 0 = 0
    <if test="flightDate != null">
      and fs.flight_date = #{flightDate,jdbcType=DATE}
    </if>
    <if test="flightNo != null">
      and fs.flight_no = #{flightNo,jdbcType=VARCHAR}
    </if>
    <if test="isInOrOut != null">
      and fs.is_in_or_out = #{isInOrOut,jdbcType=SMALLINT}
    </if>
    <if test="flightStatus != null">
      and fs.flight_status = #{flightStatus,jdbcType=SMALLINT}
    </if>
    <if test="scheduleEventId != null">
      and fs.schedule_event_id = #{scheduleEventId,jdbcType=BIGINT}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from flight
    where flight_id = #{flightId,jdbcType=BIGINT} and airport_code = #{airportCode,jdbcType=VARCHAR} and is_deleted = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from flight
    where flight_id = #{flightId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhiweicloud.guest.model.Flight">
    insert into flight (flight_id, flight_date,
      flight_no, flight_depcode, flight_arrcode, 
      flight_dep, flight_arr, flight_dep_airport, 
      flight_arr_airport, plan_no, flight_position, 
      board_in_out, flight_status, real_landing_time, 
      real_take_off_time, plan_take_off_time, plan_landing_time, 
      is_in_or_out, boarding_port, is_near_or_far, 
      server_time)
    values (#{flightId,jdbcType=BIGINT}, #{flightDate,jdbcType=DATE},
      #{flightNo,jdbcType=VARCHAR}, #{flightDepcode,jdbcType=VARCHAR}, #{flightArrcode,jdbcType=VARCHAR}, 
      #{flightDep,jdbcType=VARCHAR}, #{flightArr,jdbcType=VARCHAR}, #{flightDepAirport,jdbcType=VARCHAR}, 
      #{flightArrAirport,jdbcType=VARCHAR}, #{planNo,jdbcType=VARCHAR}, #{flightPosition,jdbcType=VARCHAR}, 
      #{boardInOut,jdbcType=SMALLINT}, #{flightStatus,jdbcType=SMALLINT}, #{realLandingTime,jdbcType=TIME}, 
      #{realTakeOffTime,jdbcType=TIME}, #{planTakeOffTime,jdbcType=TIME}, #{planLandingTime,jdbcType=TIME}, 
      #{isInOrOut,jdbcType=SMALLINT}, #{boardingPort,jdbcType=VARCHAR}, #{isNearOrFar,jdbcType=SMALLINT}, 
      #{serverTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiweicloud.guest.model.Flight">
    insert into flight
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flightId != null">
        flight_id,
      </if>
      <if test="flightDate != null">
        flight_date,
      </if>
      <if test="flightNo != null">
        flight_no,
      </if>
      <if test="flightDepcode != null">
        flight_depcode,
      </if>
      <if test="flightArrcode != null">
        flight_arrcode,
      </if>
      <if test="flightDep != null">
        flight_dep,
      </if>
      <if test="flightArr != null">
        flight_arr,
      </if>
      <if test="flightDepAirport != null">
        flight_dep_airport,
      </if>
      <if test="flightArrAirport != null">
        flight_arr_airport,
      </if>
      <if test="planNo != null">
        plan_no,
      </if>
      <if test="flightPosition != null">
        flight_position,
      </if>
      <if test="boardInOut != null">
        board_in_out,
      </if>
      <if test="flightStatus != null">
        flight_status,
      </if>
      <if test="realLandingTime != null">
        real_landing_time,
      </if>
      <if test="realTakeOffTime != null">
        real_take_off_time,
      </if>
      <if test="planTakeOffTime != null">
        plan_take_off_time,
      </if>
      <if test="planLandingTime != null">
        plan_landing_time,
      </if>
      <if test="isInOrOut != null">
        is_in_or_out,
      </if>
      <if test="boardingPort != null">
        boarding_port,
      </if>
      <if test="isNearOrFar != null">
        is_near_or_far,
      </if>
      <if test="serverTime != null">
        server_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flightId != null">
        #{flightId,jdbcType=BIGINT},
      </if>
      <if test="flightDate != null">
        #{flightDate,jdbcType=DATE},
      </if>
      <if test="flightNo != null">
        #{flightNo,jdbcType=VARCHAR},
      </if>
      <if test="flightDepcode != null">
        #{flightDepcode,jdbcType=VARCHAR},
      </if>
      <if test="flightArrcode != null">
        #{flightArrcode,jdbcType=VARCHAR},
      </if>
      <if test="flightDep != null">
        #{flightDep,jdbcType=VARCHAR},
      </if>
      <if test="flightArr != null">
        #{flightArr,jdbcType=VARCHAR},
      </if>
      <if test="flightDepAirport != null">
        #{flightDepAirport,jdbcType=VARCHAR},
      </if>
      <if test="flightArrAirport != null">
        #{flightArrAirport,jdbcType=VARCHAR},
      </if>
      <if test="planNo != null">
        #{planNo,jdbcType=VARCHAR},
      </if>
      <if test="flightPosition != null">
        #{flightPosition,jdbcType=VARCHAR},
      </if>
      <if test="boardInOut != null">
        #{boardInOut,jdbcType=SMALLINT},
      </if>
      <if test="flightStatus != null">
        #{flightStatus,jdbcType=SMALLINT},
      </if>
      <if test="realLandingTime != null">
        #{realLandingTime,jdbcType=TIME},
      </if>
      <if test="realTakeOffTime != null">
        #{realTakeOffTime,jdbcType=TIME},
      </if>
      <if test="planTakeOffTime != null">
        #{planTakeOffTime,jdbcType=TIME},
      </if>
      <if test="planLandingTime != null">
        #{planLandingTime,jdbcType=TIME},
      </if>
      <if test="isInOrOut != null">
        #{isInOrOut,jdbcType=SMALLINT},
      </if>
      <if test="boardingPort != null">
        #{boardingPort,jdbcType=VARCHAR},
      </if>
      <if test="isNearOrFar != null">
        #{isNearOrFar,jdbcType=SMALLINT},
      </if>
      <if test="serverTime != null">
        #{serverTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiweicloud.guest.model.Flight">
    update flight
    <set>
      <if test="flightDate != null">
        flight_date = #{flightDate,jdbcType=DATE},
      </if>
      <if test="flightNo != null">
        flight_no = #{flightNo,jdbcType=VARCHAR},
      </if>
      <if test="flightDepcode != null">
        flight_depcode = #{flightDepcode,jdbcType=VARCHAR},
      </if>
      <if test="flightArrcode != null">
        flight_arrcode = #{flightArrcode,jdbcType=VARCHAR},
      </if>
      <if test="flightDep != null">
        flight_dep = #{flightDep,jdbcType=VARCHAR},
      </if>
      <if test="flightArr != null">
        flight_arr = #{flightArr,jdbcType=VARCHAR},
      </if>
      <if test="flightDepAirport != null">
        flight_dep_airport = #{flightDepAirport,jdbcType=VARCHAR},
      </if>
      <if test="flightArrAirport != null">
        flight_arr_airport = #{flightArrAirport,jdbcType=VARCHAR},
      </if>
      <if test="planNo != null">
        plan_no = #{planNo,jdbcType=VARCHAR},
      </if>
      <if test="flightPosition != null">
        flight_position = #{flightPosition,jdbcType=VARCHAR},
      </if>
      <if test="boardInOut != null">
        board_in_out = #{boardInOut,jdbcType=SMALLINT},
      </if>
      <if test="flightStatus != null">
        flight_status = #{flightStatus,jdbcType=SMALLINT},
      </if>
      <if test="realLandingTime != null">
        real_landing_time = #{realLandingTime,jdbcType=VARCHAR},
      </if>
      <if test="realTakeOffTime != null">
        real_take_off_time = #{realTakeOffTime,jdbcType=VARCHAR},
      </if>
      <if test="planTakeOffTime != null">
        plan_take_off_time = #{planTakeOffTime,jdbcType=VARCHAR},
      </if>
      <if test="planLandingTime != null">
        plan_landing_time = #{planLandingTime,jdbcType=VARCHAR},
      </if>
      <if test="isInOrOut != null">
        is_in_or_out = #{isInOrOut,jdbcType=SMALLINT},
      </if>
      <if test="boardingPort != null">
        boarding_port = #{boardingPort,jdbcType=VARCHAR},
      </if>
      <if test="isNearOrFar != null">
        is_near_or_far = #{isNearOrFar,jdbcType=SMALLINT},
      </if>
      <if test="serverTime != null">
        server_time = #{serverTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where flight_id = #{flightId,jdbcType=BIGINT} and airport_code = #{airportCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiweicloud.guest.model.Flight">
    update flight
    set flight_date = #{flightDate,jdbcType=DATE},
      flight_no = #{flightNo,jdbcType=VARCHAR},
      flight_depcode = #{flightDepcode,jdbcType=VARCHAR},
      flight_arrcode = #{flightArrcode,jdbcType=VARCHAR},
      flight_dep = #{flightDep,jdbcType=VARCHAR},
      flight_arr = #{flightArr,jdbcType=VARCHAR},
      flight_dep_airport = #{flightDepAirport,jdbcType=VARCHAR},
      flight_arr_airport = #{flightArrAirport,jdbcType=VARCHAR},
      plan_no = #{planNo,jdbcType=VARCHAR},
      flight_position = #{flightPosition,jdbcType=VARCHAR},
      board_in_out = #{boardInOut,jdbcType=SMALLINT},
      flight_status = #{flightStatus,jdbcType=SMALLINT},
      real_landing_time = #{realLandingTime,jdbcType=VARCHAR},
      real_take_off_time = #{realTakeOffTime,jdbcType=VARCHAR},
      plan_take_off_time = #{planTakeOffTime,jdbcType=VARCHAR},
      plan_landing_time = #{planLandingTime,jdbcType=VARCHAR},
      is_in_or_out = #{isInOrOut,jdbcType=SMALLINT},
      boarding_port = #{boardingPort,jdbcType=VARCHAR},
      is_near_or_far = #{isNearOrFar,jdbcType=SMALLINT},
      server_time = #{serverTime,jdbcType=TIMESTAMP}
    where flight_id = #{flightId,jdbcType=BIGINT} and airport_code = #{airportCode,jdbcType=VARCHAR}
  </update>
</mapper>