<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.ScheduleEventMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.ScheduleEvent">
    <id column="schedule_event_id" jdbcType="BIGINT" property="scheduleEventId" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="schedule_time" jdbcType="TIMESTAMP" property="scheduleTime" />
    <result column="is_approach" jdbcType="SMALLINT" property="isApproach" />
  </resultMap>
  <sql id="Base_Column_List">
    schedule_event_id, no, type, name, is_approach
  </sql>

  <select id="getListByConidition" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMap">
    SELECT
    schedule_event_id, no, type, name, is_approach
    FROM v_schedule_event
    where airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and is_deleted = 0
    order by schedule_event_id desc
    LIMIT #{page.startPageNo},#{page.pCount}
  </select>

  <select id="getListCount" parameterType="map" resultType="int">
    SELECT
    count(schedule_event_id)
    FROM v_schedule_event
    where airport_code = #{airportCode,jdbcType=VARCHAR} and is_deleted = 0
  </select>

  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_schedule_event
    where airport_code = #{airportCode,jdbcType=VARCHAR}
    and schedule_event_id = #{scheduleEventId,jdbcType=BIGINT} and is_deleted = 0
  </select>

  <select id="selectByFlightId" parameterType="map" resultMap="BaseResultMap">
    select s.schedule_event_id, f.schedule_time, s.name
    from schedule_event as s right join (select schedule_event_id, schedule_time from flight_schedule_event where airport_code = #{airportCode,jdbcType=VARCHAR}
    and flight_id = #{flightId,jdbcType=BIGINT} and is_deleted = 0) as f
    on s.schedule_event_id = f.schedule_event_id
    where s.airport_code = #{airportCode,jdbcType=VARCHAR} and s.is_deleted = 0
    <if test="scheduleEventId != null">
      and s.schedule_event_id = #{scheduleEventId,jdbcType=BIGINT}
    </if>
    order by s.schedule_event_id desc
  </select>

  <select id="getScheduleEventBox" parameterType="map" resultMap="BaseResultMap">
    select schedule_event_id, name
    from schedule_event
    where airport_code = #{airportCode,jdbcType=VARCHAR} and is_deleted = 0
    and schedule_event_id not in (select schedule_event_id from flight_schedule_event where airport_code = #{airportCode,jdbcType=VARCHAR} and is_deleted = 0
    and flight_id = #{flightId,jdbcType=BIGINT})
  </select>

  <insert id="insert" parameterType="com.zhiweicloud.guest.model.ScheduleEvent">
    insert into schedule_event (schedule_event_id, no, type, 
      name, is_approach, uupdate_user
      )
    values (#{scheduleEventId,jdbcType=BIGINT}, #{no,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{isApproach,jdbcType=BIT}, #{uupdateUser,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhiweicloud.guest.model.ScheduleEvent">
    insert into schedule_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scheduleEventId != null">
        schedule_event_id,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="isApproach != null">
        is_approach,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scheduleEventId != null">
        #{scheduleEventId,jdbcType=BIGINT},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isApproach != null">
        #{isApproach,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiweicloud.guest.model.ScheduleEvent">
    update schedule_event
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isApproach != null">
        is_approach = #{isApproach,jdbcType=BIT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=SMALLINT},
      </if>
      update_time = CURRENT_TIMESTAMP
    </set>
    where airport_code = #{airportCode,jdbcType=VARCHAR} and schedule_event_id = #{scheduleEventId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiweicloud.guest.model.ScheduleEvent">
    update schedule_event
    set no = #{no,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      is_approach = #{isApproach,jdbcType=BIT},
      uupdate_user = #{uupdateUser,jdbcType=BIGINT}
    where schedule_event_id = #{scheduleEventId,jdbcType=BIGINT}
  </update>
</mapper>