<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.Employee">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="SMALLINT" property="sex" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>

  <select id="complexSqlQuery" parameterType="long" resultMap="BaseResultMap">
    SELECT  * from employee where id = #{id}

  </select>


  <resultMap id="DropdownlistMap" type="com.zhiweicloud.guest.model.Dropdownlist">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>

  <select id="getEmployeeDropdownList" resultMap="DropdownlistMap" parameterType="string">
    select id,name as value from employee where is_deleted = 0 and airport_code = #{airportCode}
  </select>


  <select id="selectEmployeeTotal" parameterType="com.zhiweicloud.guest.model.Employee" resultType="int">
    select count(id) from employee e
    where e.is_deleted = 0 and e.airport_code = #{airportCode}
    <if test="name != null ">
      and e.name like concat('%',#{name},'%')
    </if>
  </select>

  <select id="selectEmployeeList" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultType="map">
    select id,concat(e.airport_code,lpad(e.id,3,'0')) AS account,e.name,e.password,e.sex from employee e
    where e.is_deleted = 0 and e.airport_code = #{criteria.airportCode}
    <if test="criteria.name != null ">
      and e.name like concat('%',#{criteria.name},'%')
    </if>
    order by e.id desc
  </select>


  <select id="selectByIdAndAirportCode" parameterType="map" resultType="com.zhiweicloud.guest.model.Employee">
    select concat(e.airport_code,lpad(e.id,3,'0')) AS account,e.name,e.password,e.sex from employee e
    where is_deleted = 0 and airport_code = #{airportCode} and id = #{id}

  </select>
</mapper>