<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.OrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.OrderInfo">
      <id column="order_id" jdbcType="BIGINT" property="orderId" />
      <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
      <result column="flight_id" jdbcType="BIGINT" property="flightId" />
      <result column="customer_id" jdbcType="BIGINT" property="customerId" />
      <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
      <result column="protocol_id" jdbcType="BIGINT" property="protocolId" />
      <result column="protocol_name" jdbcType="VARCHAR" property="protocolName" />
      <result column="protocol_type" jdbcType="BIGINT" property="protocolType" />
      <result column="booking_person" jdbcType="BIGINT" property="bookingPerson" />
      <result column="booking_person_name" jdbcType="VARCHAR" property="bookingPersonName" />
      <result column="notice_person" jdbcType="VARCHAR" property="noticePerson" />
      <result column="booking_way" jdbcType="SMALLINT" property="bookingWay" />
      <result column="is_important" jdbcType="BIT" property="isImportant" />
      <result column="product_id" jdbcType="BIGINT" property="productId" />
      <result column="product_name" jdbcType="VARCHAR" property="productName" />
      <result column="print_check" jdbcType="BIT" property="printCheck" />
      <result column="print_check_remark" jdbcType="VARCHAR" property="printCheckRemark" />
      <result column="consign" jdbcType="SMALLINT" property="consign" />
      <result column="consign_remark" jdbcType="VARCHAR" property="consignRemark" />
      <result column="other_remark" jdbcType="VARCHAR" property="otherRemark" />
      <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
      <result column="order_type" jdbcType="SMALLINT" property="orderType" />
      <result column="agent_complete" jdbcType="BIT" property="agentComplete" />
      <result column="agent_person" jdbcType="BIGINT" property="agentPerson" />
      <result column="agent_person_name" jdbcType="VARCHAR" property="agentPersonName" />
      <result column="server_card_no" jdbcType="VARCHAR" property="serverCardNo" />
      <result column="vip_card" jdbcType="VARCHAR" property="vipCard" />
      <result column="cash" jdbcType="DECIMAL" property="cash" />
      <result column="sit_no" jdbcType="VARCHAR" property="sitNo" />
      <result column="server_complete" jdbcType="BIT" property="serverComplete" />
      <result column="server_person_num" jdbcType="INTEGER" property="serverPersonNum" />
      <result column="along_total" jdbcType="INTEGER" property="alongTotal" />
      <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
      <result column="airport_code" jdbcType="VARCHAR" property="airportCode" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="create_user" jdbcType="BIGINT" property="createUser" />
      <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="update_user" jdbcType="BIGINT" property="updateUser" />
      <result column="server_create_time" jdbcType="TIMESTAMP" property="serverCreateTime" />
      <result column="server_create_user_id" jdbcType="BIGINT" property="serverCreateUserId" />
      <result column="server_create_user_name" jdbcType="VARCHAR" property="serverCreateUserName" />
      <result column="server_update_time" jdbcType="TIMESTAMP" property="serverUpdateTime" />
      <result column="server_update_user_id" jdbcType="BIGINT" property="serverUpdateUserId" />
      <result column="server_update_user_name" jdbcType="VARCHAR" property="serverUpdateUserName" />

      <association property="flight" javaType="com.zhiweicloud.guest.model.Flight">
        <id column="flight_id" jdbcType="BIGINT" property="flightId" />
        <result column="flight_date" jdbcType="DATE" property="flightDate" />
        <result column="flight_no" jdbcType="VARCHAR" property="flightNo" />
        <result column="flight_depcode" jdbcType="VARCHAR" property="flightDepcode" />
        <result column="flight_arrcode" jdbcType="VARCHAR" property="flightArrcode" />
        <result column="plan_no" jdbcType="VARCHAR" property="planNo" />
        <result column="flight_position" jdbcType="VARCHAR" property="flightPosition" />
        <result column="board_in_out" jdbcType="SMALLINT" property="boardInOut" />
        <result column="is_in_or_out" jdbcType="SMALLINT" property="isInOrOut" />
        <result column="is_near_or_far" jdbcType="SMALLINT" property="isNearOrFar" />
        <result column="server_time" jdbcType="TIMESTAMP" property="serverTime" />
        <result column="fd_id" jdbcType="VARCHAR" property="fdId" />
        <result column="flight_company" jdbcType="VARCHAR" property="flightCompany" />
        <result column="flight_deptime_plan_date" jdbcType="TIMESTAMP" property="flightDeptimePlanDate" />
        <result column="flight_arrtime_plan_date" jdbcType="TIMESTAMP" property="flightArrtimePlanDate" />
        <result column="flight_deptime_ready_date" jdbcType="TIMESTAMP" property="flightDeptimeReadyDate" />
        <result column="flight_arrtime_ready_date" jdbcType="TIMESTAMP" property="flightArrtimeReadyDate" />
        <result column="flight_deptime_date" jdbcType="TIMESTAMP" property="flightDeptimeDate" />
        <result column="flight_arrtime_date" jdbcType="TIMESTAMP" property="flightArrtimeDate" />
        <result column="stop_flag" jdbcType="SMALLINT" property="stopFlag" />
        <result column="share_flag" jdbcType="SMALLINT" property="shareFlag" />
        <result column="share_flight_no" jdbcType="VARCHAR" property="shareFlightNo" />
        <result column="fill_flight_no" jdbcType="VARCHAR" property="fillFlightNo" />
        <result column="board_gate" jdbcType="VARCHAR" property="boardGate" />
        <result column="board_state" jdbcType="VARCHAR" property="boardState" />
        <result column="flight_state" jdbcType="VARCHAR" property="flightState" />
        <result column="flight_hterminal" jdbcType="VARCHAR" property="flightHterminal" />
        <result column="flight_terminal" jdbcType="VARCHAR" property="flightTerminal" />
        <result column="flight_dep" jdbcType="VARCHAR" property="flightDep" />
        <result column="flight_arr" jdbcType="VARCHAR" property="flightArr" />
        <result column="flight_dep_airport" jdbcType="VARCHAR" property="flightDepAirport" />
        <result column="flight_arr_airport" jdbcType="VARCHAR" property="flightArrAirport" />
        <result column="alternate_info" jdbcType="VARCHAR" property="alternateInfo" />
        <result column="org_timezone" jdbcType="VARCHAR" property="orgTimezone" />
        <result column="dst_timezone" jdbcType="VARCHAR" property="dstTimezone" />
        <result column="fcategory" jdbcType="VARCHAR" property="fcategory" />
        <result column="fid" jdbcType="VARCHAR" property="fid" />
        <result column="board_gate_time" jdbcType="VARCHAR" property="boardGateTime" />
        <result column="schedule_time" jdbcType="TIMESTAMP" property="scheduleTime" />
        <result column="schedule_event_name" jdbcType="TIMESTAMP" property="scheduleEventName" />
        <result column="schedule_event_id" jdbcType="BIGINT" property="scheduleEventId" />
      </association>
      <collection property="passengerList" ofType="com.zhiweicloud.guest.model.Passenger">
        <id column="passenger_id" jdbcType="BIGINT" property="passengerId" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="passenger_name" jdbcType="VARCHAR" property="name" />
        <result column="phone" jdbcType="BIGINT" property="phone" />
        <result column="identity_card" jdbcType="VARCHAR" property="identityCard" />
        <result column="work_unit" jdbcType="VARCHAR" property="workUnit" />
        <result column="passenger_vip_card" jdbcType="VARCHAR" property="vipCard" />
        <result column="sit_no" jdbcType="VARCHAR" property="sitNo" />
        <result column="cabin_no" jdbcType="VARCHAR" property="cabinNo" />
        <result column="ticket_no" jdbcType="VARCHAR" property="ticketNo" />
        <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
        <result column="card_type" jdbcType="SMALLINT" property="cardType" />
        <result column="passenger_type" jdbcType="SMALLINT" property="passengerType" />

        <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
        <result column="create_user" jdbcType="BIGINT" property="createUser" />
        <result column="update_user" jdbcType="BIGINT" property="updateUser" />
      </collection >
      <collection property="serviceList" ofType="com.zhiweicloud.guest.model.OrderService">
        <id column="order_service_id" jdbcType="BIGINT" property="orderServiceId" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="service_detail" jdbcType="VARCHAR" property="serviceDetail" />
      </collection >
    </resultMap>

  <update id="markChildRowsAsDeleted" parameterType="map">
    update ${tableName} set is_deleted = 1 where ${idColumn} not in (${ids})  and airport_code = #{airportCode} and order_id = #{orderId}
  </update>


  <insert id="insertSelective" parameterType="com.zhiweicloud.guest.model.OrderInfo">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="orderId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="flightId != null">
        flight_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="protocolId != null">
        protocol_id,
      </if>
      <if test="protocolName != null">
        protocol_name,
      </if>
      <if test="protocolType != null">
        protocol_type,
      </if>
      <if test="bookingPerson != null">
        booking_person,
      </if>
      <if test="bookingPersonName != null">
        booking_person_name,
      </if>
      <if test="noticePerson != null">
        notice_person,
      </if>
      <if test="bookingWay != null">
        booking_way,
      </if>
      <if test="isImportant != null">
        is_important,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="printCheck != null">
        print_check,
      </if>
      <if test="printCheckRemark != null">
        print_check_remark,
      </if>
      <if test="consign != null">
        consign,
      </if>
      <if test="consignRemark != null">
        consign_remark,
      </if>
      <if test="otherRemark != null">
        other_remark,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="agentComplete != null">
        agent_complete,
      </if>
      <if test="agentPerson != null">
        agent_person,
      </if>
      <if test="serverCardNo != null">
        server_card_no,
      </if>
      <if test="vipCard != null">
        vip_card,
      </if>
      <if test="cash != null">
        cash,
      </if>
      <if test="sitNo != null">
        sit_no,
      </if>
      <if test="serverComplete != null">
        server_complete,
      </if>
      <if test="serverPersonNum != null">
        server_person_num,
      </if>
      <if test="alongTotal != null">
        along_total,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="airportCode != null">
        airport_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="serverCreateTime != null">
        server_create_time,
      </if>
      <if test="serverCreateUserId != null">
        server_create_user_id,
      </if>
      <if test="serverCreateUserName != null">
        server_create_user_name,
      </if>
      <if test="serverUpdateTime != null">
        server_update_time,
      </if>
      <if test="serverUpdateUserId != null">
        server_update_user_id,
      </if>
      <if test="serverUpdateUserName != null">
        server_update_user_name,
      </if>
      <if test="serverCompleteTime != null">
        server_complete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="flightId != null">
        #{flightId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="protocolId != null">
        #{protocolId,jdbcType=BIGINT},
      </if>
      <if test="protocolName != null">
        #{protocolName,jdbcType=VARCHAR},
      </if>
      <if test="protocolType != null">
        #{protocolType,jdbcType=BIGINT},
      </if>
      <if test="bookingPerson != null">
        #{bookingPerson,jdbcType=BIGINT},
      </if>
      <if test="bookingPersonName != null">
        #{bookingPersonName,jdbcType=VARCHAR},
      </if>
      <if test="noticePerson != null">
        #{noticePerson,jdbcType=VARCHAR},
      </if>
      <if test="bookingWay != null">
        #{bookingWay,jdbcType=SMALLINT},
      </if>
      <if test="isImportant != null">
        #{isImportant,jdbcType=BIT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="printCheck != null">
        #{printCheck,jdbcType=BIT},
      </if>
      <if test="printCheckRemark != null">
        #{printCheckRemark,jdbcType=VARCHAR},
      </if>
      <if test="consign != null">
        #{consign,jdbcType=SMALLINT},
      </if>
      <if test="consignRemark != null">
        #{consignRemark,jdbcType=VARCHAR},
      </if>
      <if test="otherRemark != null">
        #{otherRemark,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=SMALLINT},
      </if>
      <if test="agentComplete != null">
        #{agentComplete,jdbcType=BIT},
      </if>
      <if test="agentPerson != null">
        #{agentPerson,jdbcType=BIGINT},
      </if>
      <if test="serverCardNo != null">
        #{serverCardNo,jdbcType=VARCHAR},
      </if>
      <if test="vipCard != null">
        #{vipCard,jdbcType=VARCHAR},
      </if>
      <if test="cash != null">
        #{cash,jdbcType=DECIMAL},
      </if>
      <if test="sitNo != null">
        #{sitNo,jdbcType=VARCHAR},
      </if>
      <if test="serverComplete != null">
        #{serverComplete,jdbcType=BIT},
      </if>
      <if test="serverPersonNum != null">
        #{serverPersonNum,jdbcType=INTEGER},
      </if>
      <if test="alongTotal != null">
        #{alongTotal,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=SMALLINT},
      </if>
      <if test="airportCode != null">
        #{airportCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="serverCreateTime != null">
        #{serverCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serverCreateUserId != null">
        #{serverCreateUserId,jdbcType=BIGINT},
      </if>
      <if test="serverCreateUserName != null">
        #{serverCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="serverUpdateTime != null">
        #{serverUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serverUpdateUserId != null">
        #{serverUpdateUserId,jdbcType=BIGINT},
      </if>
      <if test="serverUpdateUserName != null">
        #{serverUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="serverCompleteTime != null">
        #{serverCompleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.zhiweicloud.guest.model.OrderInfo">
    update order_info
    <set>
      <if test="flightId != null">
        flight_id = #{flightId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="protocolId != null">
        protocol_id = #{protocolId,jdbcType=BIGINT},
      </if>
      <if test="protocolName != null">
        protocol_name = #{protocolName,jdbcType=VARCHAR},
      </if>
      <if test="protocolType != null">
        protocol_type = #{protocolType,jdbcType=VARCHAR},
      </if>
      <if test="bookingPerson != null">
        booking_person = #{bookingPerson,jdbcType=BIGINT},
      </if>
      <if test="bookingPersonName != null">
        booking_person_name = #{bookingPersonName,jdbcType=VARCHAR},
      </if>
      <if test="noticePerson != null">
        notice_person = #{noticePerson,jdbcType=VARCHAR},
      </if>
      <if test="bookingWay != null">
        booking_way = #{bookingWay,jdbcType=SMALLINT},
      </if>
      <if test="isImportant != null">
        is_important = #{isImportant,jdbcType=BIT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="printCheck != null">
        print_check = #{printCheck,jdbcType=BIT},
      </if>
      <if test="printCheckRemark != null">
        print_check_remark = #{printCheckRemark,jdbcType=VARCHAR},
      </if>
      <if test="consign != null">
        consign = #{consign,jdbcType=SMALLINT},
      </if>
      <if test="consignRemark != null">
        consign_remark = #{consignRemark,jdbcType=VARCHAR},
      </if>
      <if test="otherRemark != null">
        other_remark = #{otherRemark,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=SMALLINT},
      </if>
      <if test="agentComplete != null">
        agent_complete = #{agentComplete,jdbcType=BIT},
      </if>
      <if test="agentPerson != null">
        agent_person = #{agentPerson,jdbcType=BIGINT},
      </if>
      <if test="agentPersonName != null">
        agent_person_name = #{agentPersonName,jdbcType=VARCHAR},
      </if>
      <if test="serverCardNo != null">
        server_card_no = #{serverCardNo,jdbcType=VARCHAR},
      </if>
      <if test="vipCard != null">
        vip_card = #{vipCard,jdbcType=VARCHAR},
      </if>
      <if test="cash != null">
        cash = #{cash,jdbcType=DECIMAL},
      </if>
      <if test="sitNo != null">
        sit_no = #{sitNo,jdbcType=VARCHAR},
      </if>
      <if test="serverComplete != null">
        server_complete = #{serverComplete,jdbcType=BIT},
      </if>
      <if test="serverPersonNum != null">
        server_person_num = #{serverPersonNum,jdbcType=INTEGER},
      </if>
      <if test="alongTotal != null">
        along_total = #{alongTotal,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=SMALLINT},
      </if>
      <if test="airportCode != null">
        airport_code = #{airportCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="serverCreateTime != null">
        server_create_time = #{serverCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serverCreateUserId != null">
        server_create_user_id = #{serverCreateUserId,jdbcType=BIGINT},
      </if>
      <if test="serverCreateUserName != null">
        server_create_user_name = #{serverCreateUserName,jdbcType=VARCHAR},
      </if>
      <if test="serverUpdateTime != null">
        server_update_time = #{serverUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serverUpdateUserId != null">
        server_update_user_id = #{serverUpdateUserId,jdbcType=BIGINT},
      </if>
      <if test="serverUpdateUserName != null">
        server_update_user_name = #{serverUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="serverCompleteTime != null">
        server_complete_time = #{serverCompleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT} and airport_code=#{airportCode,jdbcType=VARCHAR}
  </update>



  <select id="selectOrderInfoTotal" resultType="int" parameterType="com.zhiweicloud.guest.model.OrderInfoQuery">
    select count(DISTINCT(orderFlightClientPassengerService.order_id)) from
    (
    select orderFlightClientPassenger.*,orderService.order_service_id,orderService.service_detail from
    (
    select orderFlightClient.*,p.passenger_id,p.name as passenger_name,p.phone,p.identity_card,p.work_unit,p.vip_card as passenger_vip_card,p.sit_no as passenger_sit_no,p.cabin_no,p.ticket_no,p.card_no,p.card_type,p.expire_time from
    (
    select concat(o.airport_code,lpad(o.order_id,6,'0')) AS order_no,o.order_id,o.protocol_id,o.protocol_name,o.customer_id,o.customer_name,o.booking_person,o.booking_person_name,
    o.notice_person,o.booking_way,o.is_important,o.product_id,o.product_name,o.print_check,o.print_check_remark,o.consign,o.consign_remark,o.is_deleted,o.protocol_type,
    o.other_remark,o.order_status,o.order_type,o.agent_person,o.server_card_no,o.vip_card,o.cash,o.sit_no,o.server_complete,o.server_person_num,o.airport_code,o.create_time,o.along_total,
    o.server_create_time, o.server_create_user_id, o.server_create_user_name, o.server_update_time,
    server_update_user_id, server_update_user_name,
    f.flight_id,f.flight_date,f.flight_no,f.flight_depcode,f.flight_arrcode,flight_dep,f.flight_arr,f.flight_dep_airport,flight_arr_airport,f.flight_position,f.board_in_out,
    f.flight_deptime_plan_date,f.flight_arrtime_plan_date,f.is_in_or_out,f.board_gate,f.is_near_or_far,f.plan_no
    from order_info o
    inner join flight f
    on o.flight_id = f.flight_id
    and o.is_deleted = 0 and f.is_deleted = 0
    <if test="criteria.queryBookingIds != null and !''.equals(criteria.queryBookingIds)">
      and o.booking_person in ( #{criteria.queryBookingIds})
    </if>
    <if test="criteria.queryProtocolIds != null and !''.equals(criteria.queryProtocolIds)">
      and o.protocol_id in ( #{criteria.queryProtocolIds})
    </if>
    <if test="criteria.queryIsImportant != null and !''.equals(criteria.queryIsImportant)">
      and o.is_important =  #{criteria.queryIsImportant}
    </if>
    <!-- 预约订单 -->
    <if test="criteria.queryOrderType != null and !''.equals(criteria.queryOrderType) and criteria.queryOrderType == 0">
      and o.order_type = #{criteria.queryOrderType}
      <if test="criteria.queryOrderStatus != null and !''.equals(criteria.queryOrderStatus)">
        and o.order_status in (#{criteria.queryOrderStatus})
      </if>
    </if>
    <!-- 服务订单 -->
    <if test="criteria.queryOrderType != null and !''.equals(criteria.queryOrderType) and criteria.queryOrderType == 1">
      <choose>
        <when test="criteria.queryOrderStatus != null and !''.equals(criteria.queryOrderStatus) and '已使用'.equals(criteria.queryOrderStatus)">
          and o.order_status in (#{criteria.queryOrderStatus})
        </when>
        <otherwise>
          <choose>
            <when test="criteria.queryOrderStatus != null and !''.equals(criteria.queryOrderStatus)">
              and o.order_type = 1 and o.order_status in (#{criteria.queryOrderStatus})
            </when>
            <otherwise>
              and (o.order_type = 1 or o.order_status = '已使用')
            </otherwise>
          </choose>
        </otherwise>
      </choose>
    </if>
    <if test="criteria.queryBookingOneDayBefore != null and !''.equals(criteria.queryBookingOneDayBefore)">
      and datediff(now(),o.create_time) &gt; 0
    </if>
    <if test="criteria.queryAttServerOrderList != null and !''.equals(criteria.queryAttServerOrderList)">
      and (o.print_check = 1 or o.consign = 1)
    </if>
    <!-- 附加服务单 订单是否被安排，0：未安排与agent_person 比较，1：已安排 agent_person 比较，2：已完成,与server_complete比较 -->
    <if test="criteria.queryAgentPerson != null and !''.equals(criteria.queryAgentPerson) and '0'.equals(criteria.queryAgentPerson)">
      and o.agent_person is null
    </if>
    <if test="criteria.queryAgentPerson != null and !''.equals(criteria.queryAgentPerson) and '1'.equals(criteria.queryAgentPerson)">
      and o.agent_person is not null
    </if>
    <if test="criteria.queryAgentPerson != null and !''.equals(criteria.queryAgentPerson) and '2'.equals(criteria.queryAgentPerson)">
      and o.server_complete is not null
    </if>
    <if test="criteria.orderIds != null and !''.equals(criteria.orderIds)">
      and o.order_id in (#{criteria.orderIds})
    </if>
    <if test="criteria.queryFlightNo != null and !''.equals(criteria.queryFlightNo)">
      and f.flight_no like concat('%',#{criteria.queryFlightNo},'%')
    </if>
    <if test="criteria.queryFlightDate != null and !''.equals(criteria.queryFlightDate)">
      and f.flight_date = str_to_date(#{criteria.queryFlightDate}, '%Y-%m-%d')
    </if>
    <if test="criteria.queryIsInOrOut != null and !''.equals(criteria.queryIsInOrOut)">
      and f.is_in_or_out in(#{criteria.queryIsInOrOut})
    </if>

    ) as orderFlightClient
    left join passenger p on orderFlightClient.order_id = p.order_id and p.is_deleted = 0
    <!--<if test="criteria.queryPassengerName != null and !''.equals(criteria.queryPassengerName)">
      and p.name like concat('%',#{criteria.queryPassengerName},'%')
    </if>
    <if test="criteria.queryIdentityCard != null and !''.equals(criteria.queryIdentityCard)">
      and p.identity_card = #{criteria.queryIdentityCard}
    </if>-->
    )as orderFlightClientPassenger
    left join order_service orderService
    on orderService.order_id = orderFlightClientPassenger.order_id and orderService.is_deleted = 0
    ) as orderFlightClientPassengerService
    where orderFlightClientPassengerService.airport_code = #{criteria.airportCode}
  </select>


  <select id="selectOrderInfoList" resultMap="BaseResultMap">
    select orderFlightClientPassengerService.* from
(
	select orderFlightClientPassenger.*,orderService.order_service_id,orderService.service_detail from
	(
		select orderFlightClient.*,p.passenger_id,p.name as passenger_name,p.phone,p.identity_card,p.work_unit,p.vip_card as passenger_vip_card,p.sit_no as passenger_sit_no,p.cabin_no,p.ticket_no,p.card_no,p.card_type,p.expire_time from
		(
            select concat(o.airport_code,lpad(o.order_id,6,'0')) AS order_no,o.order_id,o.protocol_id,o.protocol_name,o.customer_id,o.customer_name,o.booking_person,o.booking_person_name,
                o.notice_person,o.booking_way,o.is_important,o.product_id,o.product_name,o.print_check,o.print_check_remark,o.consign,o.consign_remark,o.is_deleted,
                o.other_remark,o.order_status,o.order_type,o.agent_person,o.server_card_no,o.vip_card,o.cash,o.sit_no,o.server_complete,o.server_person_num,o.airport_code,o.create_time,o.along_total,o.protocol_type,
                o.server_create_time, o.server_create_user_id, o.server_create_user_name, o.server_update_time,
                f.flight_id,f.flight_date,f.flight_no,f.flight_depcode,f.flight_arrcode,flight_dep,f.flight_arr,f.flight_dep_airport,flight_arr_airport,f.flight_position,f.board_in_out,
                f.flight_deptime_plan_date,f.flight_arrtime_plan_date,f.is_in_or_out,f.board_gate,f.is_near_or_far,f.plan_no
			from order_info o
			inner join flight f
			on o.flight_id = f.flight_id
            and o.is_deleted = 0 and f.is_deleted = 0
            <if test="criteria.queryBookingIds != null and !''.equals(criteria.queryBookingIds)">
              and o.booking_person in ( #{criteria.queryBookingIds})
            </if>
            <if test="criteria.queryProtocolIds != null and !''.equals(criteria.queryProtocolIds)">
              and o.protocol_id in ( #{criteria.queryProtocolIds})
            </if>
            <if test="criteria.queryIsImportant != null and !''.equals(criteria.queryIsImportant)">
              and o.is_important =  #{criteria.queryIsImportant}
            </if>
            <!-- 预约订单 -->
            <if test="criteria.queryOrderType != null and !''.equals(criteria.queryOrderType) and criteria.queryOrderType == 0">
              and o.order_type = #{criteria.queryOrderType}
              <if test="criteria.queryOrderStatus != null and !''.equals(criteria.queryOrderStatus)">
                and o.order_status in (#{criteria.queryOrderStatus})
              </if>
            </if>
            <!-- 服务订单 -->
            <if test="criteria.queryOrderType != null and !''.equals(criteria.queryOrderType) and criteria.queryOrderType == 1">
              <choose>
                <when test="criteria.queryOrderStatus != null and !''.equals(criteria.queryOrderStatus) and '已使用'.equals(criteria.queryOrderStatus)">
                  and o.order_status in (#{criteria.queryOrderStatus})
                </when>
                <otherwise>
                  <choose>
                    <when test="criteria.queryOrderStatus != null and !''.equals(criteria.queryOrderStatus)">
                      and o.order_type = 1 and o.order_status in (#{criteria.queryOrderStatus})
                    </when>
                    <otherwise>
                      and (o.order_type = 1 or o.order_status = '已使用')
                    </otherwise>
                  </choose>
                </otherwise>
              </choose>
            </if>
            <if test="criteria.queryBookingOneDayBefore != null and !''.equals(criteria.queryBookingOneDayBefore)">
              and datediff(now(),o.create_time) &gt; 0
            </if>
            <if test="criteria.queryAttServerOrderList != null and !''.equals(criteria.queryAttServerOrderList)">
              and (o.print_check = 1 or o.consign = 1)
            </if>
            <!-- 附加服务单 订单是否被安排，0：未安排与agent_person 比较，1：已安排 agent_person 比较，2：已完成,与server_complete比较 -->
            <if test="criteria.queryAgentPerson != null and !''.equals(criteria.queryAgentPerson) and '0'.equals(criteria.queryAgentPerson)">
              and o.agent_person is null
            </if>
            <if test="criteria.queryAgentPerson != null and !''.equals(criteria.queryAgentPerson) and '1'.equals(criteria.queryAgentPerson)">
              and o.agent_person is not null
            </if>
            <if test="criteria.queryAgentPerson != null and !''.equals(criteria.queryAgentPerson) and '2'.equals(criteria.queryAgentPerson)">
              and o.server_complete is not null
            </if>
            <if test="criteria.orderIds != null and !''.equals(criteria.orderIds)">
              and o.order_id in (#{criteria.orderIds})
            </if>
            <if test="criteria.queryFlightNo != null and !''.equals(criteria.queryFlightNo)">
              and f.flight_no like concat('%',#{criteria.queryFlightNo},'%')
            </if>
            <if test="criteria.queryFlightDate != null and !''.equals(criteria.queryFlightDate)">
              and f.flight_date = str_to_date(#{criteria.queryFlightDate}, '%Y-%m-%d')
            </if>
            <if test="criteria.queryIsInOrOut != null and !''.equals(criteria.queryIsInOrOut)">
              and f.is_in_or_out in(#{criteria.queryIsInOrOut})
            </if>
            limit #{page.startPageNo},#{page.pCount}
		) as orderFlightClient
        left join passenger p on orderFlightClient.order_id = p.order_id and p.is_deleted = 0
        <!--<if test="criteria.queryPassengerName != null and !''.equals(criteria.queryPassengerName)">
          and p.name like concat('%',#{criteria.queryPassengerName},'%')
        </if>
        <if test="criteria.queryIdentityCard != null and !''.equals(criteria.queryIdentityCard)">
          and p.identity_card = #{criteria.queryIdentityCard}
        </if>-->
	)as orderFlightClientPassenger
	left join order_service orderService
	on orderService.order_id = orderFlightClientPassenger.order_id and orderService.is_deleted = 0
) as orderFlightClientPassengerService
   where orderFlightClientPassengerService.airport_code = #{criteria.airportCode}
    <choose>
      <when test="criteria.queryOrderBy != null and !''.equals(criteria.queryOrderBy)">
        <if test="criteria.queryOrderBy != null and !''.equals(criteria.queryOrderBy) and criteria.queryOrderType == 0">
          order by orderFlightClientPassengerService.plan_take_off_time asc
        </if>
        <if test="criteria.queryOrderBy != null and !''.equals(criteria.queryOrderBy) and criteria.queryOrderType == 1">
          order by orderFlightClientPassengerService.plan_take_off_time desc
        </if>
        <if test="criteria.queryOrderBy != null and !''.equals(criteria.queryOrderBy) and criteria.queryOrderType == 2">
          order by orderFlightClientPassengerService.plan_landing_time asc
        </if>
        <if test="criteria.queryOrderBy != null and !''.equals(criteria.queryOrderBy) and criteria.queryOrderType == 3">
          order by orderFlightClientPassengerService.plan_landing_time desc
        </if>
      </when>
      <otherwise>
        order by orderFlightClientPassengerService.order_id desc
      </otherwise>
    </choose>
  </select>





  <select id="getDetailById" parameterType="map" resultMap="BaseResultMap">
    select orderFlightClientPassengerService.* from
    (
    select orderFlightClientPassenger.*,orderService.order_service_id,orderService.service_detail from
    (
    select orderFlightClient.*,p.passenger_id,p.name as passenger_name,p.phone,p.identity_card,p.work_unit,p.vip_card as passenger_vip_card,p.sit_no as passenger_sit_no,p.cabin_no,p.ticket_no,p.card_no,p.card_type,p.expire_time,p.passenger_type from
    (
      select concat(o.airport_code,lpad(o.order_id,6,'0')) AS order_no,o.order_id,o.protocol_id,o.protocol_name,o.customer_id,o.customer_name,o.booking_person,o.booking_person_name,
      o.notice_person,o.booking_way,o.is_important,o.product_id,o.product_name,o.print_check,o.print_check_remark,o.consign,o.consign_remark,o.is_deleted,o.protocol_type,
      o.other_remark,o.order_status,o.order_type,o.agent_complete,o.agent_person,o.agent_person_name,o.server_card_no,o.vip_card,o.cash,o.sit_no,o.server_complete,o.server_person_num,o.airport_code,o.create_time,o.create_user,o.create_user_name,o.along_total,
    f.flight_id,f.flight_date,f.flight_no,f.flight_depcode,f.flight_arrcode,f.flight_dep,f.flight_arr,f.flight_dep_airport,flight_arr_airport,f.flight_position,f.board_in_out,
    f.flight_deptime_plan_date,f.flight_arrtime_plan_date,f.is_in_or_out,f.board_gate,f.is_near_or_far,f.plan_no
      from order_info o
    inner join flight f
    on o.flight_id = f.flight_id and o.is_deleted = 0 and f.is_deleted = 0
    ) as orderFlightClient
    left join passenger p on orderFlightClient.order_id = p.order_id and p.is_deleted = 0
    )as orderFlightClientPassenger
    left join order_service orderService
    on orderService.order_id = orderFlightClientPassenger.order_id and orderService.is_deleted = 0
    ) as orderFlightClientPassengerService
    where orderFlightClientPassengerService.airport_code = #{airportCode}

    <if test="orderId != null and !''.equals(orderId)">
      and orderFlightClientPassengerService.order_id = #{orderId}
    </if>
  </select>



  <insert id="insertIntoOrderStatusRecord">
    insert into order_status_record (order_id,order_status,airport_code)
    values (#{orderId},#{orderStatus},#{airportCode});
  </insert>

  <update id="updateServerComplete">
    UPDATE
      order_info SET server_complete = #{serverComplete}, update_time = NOW(), update_user = #{updateUser}
    WHERE airport_code = #{airportCode} AND flight_id = #{flightId}

  </update>

  <select id="getServerNumByServiceDetailId" resultType="int">
    SELECT
      ifnull(sum(sd.serverNum),0) FROM order_info o
    LEFT JOIN
      (SELECT ifnull(service_detail->>'$.serverNum',0) as serverNum, order_id FROM order_service
        WHERE service_detail->'$.serviceDetailId' = #{serviceDetailId} AND is_deleted = 0 AND airport_code = #{airportCode}) sd
    ON sd.order_id = o.order_id
    WHERE  o.is_deleted = 0  and o.order_status = #{orderStatus} and server_complete != 1 and airport_code = #{airportCode}
  </select>

  <select id="getOrderCountByProtocolId" resultType="int">
    SELECT count(order_id) FROM order_info WHERE airport_code = #{airportCode} AND is_deleted = 0 AND protocol_id = #{protocolId}
  </select>

  <select id="queryProtocolIdsInOrderInfoByCustomId" resultType="com.zhiweicloud.guest.model.ProtocolVo">
    SELECT DISTINCT protocol_id id,protocol_name value,protocol_type type FROM order_info WHERE customer_id = #{customId,jdbcType=BIGINT} AND airport_code = #{airportCode,jdbcType=VARCHAR} AND is_deleted = 0
  </select>

</mapper>