<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.PassengerMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.Passenger">
    <id column="passenger_id" jdbcType="BIGINT" property="passengerId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="flight_id" jdbcType="BIGINT" property="flightId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="BIGINT" property="phone" />
    <result column="identity_card" jdbcType="VARCHAR" property="identityCard" />
    <result column="work_unit" jdbcType="VARCHAR" property="workUnit" />
    <result column="sit_no" jdbcType="VARCHAR" property="sitNo" />
    <result column="cabin_no" jdbcType="VARCHAR" property="cabinNo" />
    <result column="ticket_no" jdbcType="VARCHAR" property="ticketNo" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="card_type" jdbcType="VARCHAR" property="cardType" />
    <result column="passenger_type" jdbcType="SMALLINT" property="passengerType" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />


  </resultMap>
  <sql id="Base_Column_List">
    passenger_id, order_id,flight_id, name, phone, identity_card, work_unit, sit_no,
    cabin_no, ticket_no, card_no, card_type, expire_time, create_user, update_user,passenger_type
  </sql>


  <insert id="insertSelective" parameterType="com.zhiweicloud.guest.model.Passenger">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="passengerId">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into passenger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="passengerId != null">
        passenger_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="flightId != null">
        flight_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="identityCard != null">
        identity_card,
      </if>
      <if test="workUnit != null">
        work_unit,
      </if>
      <if test="sitNo != null">
        sit_no,
      </if>
      <if test="cabinNo != null">
        cabin_no,
      </if>
      <if test="ticketNo != null">
        ticket_no,
      </if>
      <if test="cardNo != null">
        card_no,
      </if>
      <if test="cardType != null">
        card_type,
      </if>
      <if test="passengerType != null">
        passenger_type,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="passengerId != null">
        #{passengerId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="flightId != null">
        #{flightId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=BIGINT},
      </if>
      <if test="identityCard != null">
        #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="workUnit != null">
        #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="vipCard != null">
        #{vipCard,jdbcType=VARCHAR},
      </if>
      <if test="sitNo != null">
        #{sitNo,jdbcType=VARCHAR},
      </if>
      <if test="cabinNo != null">
        #{cabinNo,jdbcType=VARCHAR},
      </if>
      <if test="ticketNo != null">
        #{ticketNo,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=SMALLINT},
      </if>
      <if test="passengerType != null">
        #{passengerType,jdbcType=SMALLINT},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>


  <resultMap id="DropdownlistMap" type="com.zhiweicloud.guest.model.Dropdownlist">
    <id column="passenger_id" jdbcType="BIGINT" property="id" />
    <result column="identity_card" jdbcType="VARCHAR" property="value" />
  </resultMap>

  <select id="getIdentityCardDropdownList" resultMap="DropdownlistMap">
    SELECT
      passenger_id,identity_card
    FROM
      passenger
    WHERE
      is_deleted = 0 AND airport_code = #{airportCode} AND identity_card IS NOT NULL AND identity_card != ''
    AND
      passenger_id IN(SELECT MAX(passenger_id) FROM passenger GROUP BY identity_card)
    <if test="identityCard != null and !identityCard.trim().equals('')" >
      AND identity_card LIKE concat('%',#{identityCard},'%')
    </if>
    ORDER BY passenger_id DESC
  </select>



  <update id="updateByPassengerIdAndAirportCodeKeySelective" parameterType="com.zhiweicloud.guest.model.Passenger">
    update passenger
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="flightId != null">
        flight_id = #{flightId,jdbcType=BIGINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=BIGINT},
      </if>
      <if test="identityCard != null">
        identity_card = #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="workUnit != null">
        work_unit = #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="sitNo != null">
        sit_no = #{sitNo,jdbcType=VARCHAR},
      </if>
      <if test="cabinNo != null">
        cabin_no = #{cabinNo,jdbcType=VARCHAR},
      </if>
      <if test="ticketNo != null">
        ticket_no = #{ticketNo,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        card_type = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="passengerType != null">
        passenger_type = #{passengerType,jdbcType=SMALLINT},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where passenger_id = #{passengerId,jdbcType=BIGINT} and airport_code = #{airportCode,jdbcType=VARCHAR}
  </update>


  <resultMap id="PassengerResultMap" type="com.zhiweicloud.guest.model.Passenger">
    <id column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="server_create_time" jdbcType="VARCHAR" property="serverCreateTime" />
    <result column="room_name" jdbcType="VARCHAR" property="roomName" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="is_important" jdbcType="VARCHAR" property="isImportant" />
    <result column="serverNum" jdbcType="VARCHAR" property="serverNum" />
    <collection property="passengerList" resultMap="passengerNameResult" />
  </resultMap>

  <resultMap id="passengerNameResult" type="String">
    <result property="name" column="name" />
  </resultMap>

  <select id="getPassengerlistByFlightId" resultMap="PassengerResultMap">
    SELECT
      p.name,p.flight_id,p.order_id,concat(p.airport_code,lpad(p.order_id,6,'0')) AS order_no,sd.serviceId,sd.servId,sd.room_name,sd.serverNum,o.order_status,o.create_time,o.server_create_time,o.customer_name,o.is_important
    FROM  passenger p
    LEFT JOIN
      (SELECT service_detail->>'$.serviceId' AS serviceId,service_detail->>'$.servId' AS servId,service_detail->>'$.serverNum' AS serverNum,service_detail->>'$.serviceDetailName' AS room_name,order_id,airport_code
        FROM order_service WHERE airport_code = #{airportCode} AND is_deleted = 0 ) sd
    ON p.order_id = sd.order_id
    LEFT JOIN
	  (SELECT flight_id,order_status,create_time,order_id,airport_code,server_create_time,customer_name,is_important
	    FROM order_info WHERE airport_code = #{airportCode} AND is_deleted = 0) o
	ON p.order_id = o.order_id

    WHERE p.flight_id = #{flightId} and (order_status = '已预约' or order_status = '已使用')
    <if test="servId != null">
      AND servId = #{servId}
    </if>
    <if test="typeId != null">
      AND serviceId = #{typeId}
    </if>

  </select>

  <update id="markAsDeleted">
    update passenger set is_deleted = 1
    where order_id = #{orderId,jdbcType=BIGINT} and airport_code = #{airportCode,jdbcType=VARCHAR}
  </update>


</mapper>