<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.LoungeMapper">

    <select id="selectSpecialCheckList" parameterType="com.zhiweicloud.guest.model.CheckQueryParam" resultType="map">
        SELECT f.flight_id AS flightId,f.flight_date AS flightDate, concat_ws(' - ',f.flight_depcode,f.flight_arrcode) AS leg,f.flight_no AS flightNo,f.plan_no AS planNo,f.flight_depcode AS flightDepcode,f.flight_arrcode AS flightArrcode,
        t.customerId,t.customer_name as customerName,
        t.serverPersonNum,CAST(t.price AS SIGNED) AS price,t.serverPersonNum * t.price AS amount,t.airport_code AS airportCode FROM (
        SELECT o.flight_id,o.customer_id AS customerId,o.customer_name,o.airport_code,
        sum(os.service_detail->>'$.serverNum') AS serverPersonNum,os.price_rule->>'$.price' AS price
        FROM order_info o
        INNER JOIN order_service os ON o.order_id = os.order_id
        AND o.protocol_type IN (9,10)
        AND o.airport_code = #{checkQueryParam.airportCode} AND o.is_deleted = 0
        AND os.service_detail->>'$.serviceId' = 5
        AND o.order_status = '已使用'
        <if test="criteria.queryCustomerName != null and !''.equals(criteria.queryCustomerName)">
            AND o.customer_name LIKE concat('%',#{checkQueryParam.queryCustomerName},'%')
        </if>
        GROUP BY o.flight_id,o.customer_id,o.customer_name,o.airport_code
        ) t INNER JOIN flight f ON f.flight_id = t.flight_id
        WHERE 1 = 1
        <if test="criteria.queryFlightDateBegin != null and !''.equals(criteria.queryFlightDateBegin)">
            AND f.flight_date &gt;= #{checkQueryParam.queryFlightDateBegin}
        </if>
        <if test="criteria.queryFlightDateEnd != null and !''.equals(criteria.queryFlightDateEnd)">
            AND f.flight_date &lt;= #{checkQueryParam.queryFlightDateEnd}
        </if>
    </select>

    <resultMap id="excel_content" type="com.zhiweicloud.guest.model.LoungeCheckPo">
        <id column="flight_id" jdbcType="BIGINT" property="flightId" />
        <result column="flight_date" jdbcType="VARCHAR" property="flightDate" />
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <collection property="checkPassengerPos" column="" ofType="com.zhiweicloud.guest.model.CheckPassengerPo">
            <result column="flight_id" jdbcType="BIGINT" property="flightId" />
            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="ticket_no" jdbcType="VARCHAR" property="ticketNo" />
            <result column="card_type" jdbcType="VARCHAR" property="cardType" />
            <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
            <result column="cabin_no" jdbcType="VARCHAR" property="cabinNo" />
            <result column="plan_no" jdbcType="VARCHAR" property="planNo" />
            <result column="flight_no" jdbcType="VARCHAR" property="flightNo" />
            <result column="leg" jdbcType="VARCHAR" property="leg" />
            <result column="flight_type" jdbcType="VARCHAR" property="flightType" />
            <result column="expire_time" jdbcType="DATE" property="expireTime" />
            <result column="along_total" jdbcType="INTEGER" property="alongTotal" />
            <result column="airport_code" jdbcType="VARCHAR" property="airpotCode"/>
            <result column="flight_depcode" jdbcType="VARCHAR" property="flightDepcode"/>
            <result column="flight_arrcode" jdbcType="VARCHAR" property="flightArrcode"/>
        </collection>
    </resultMap>

    <select id="selectLoungeCheckList" resultMap="excel_content">
        SELECT
        oi.customer_name,
        f.flight_date,
        f.flight_id,
        p.name,
        p.ticket_no,
        p.card_type,
        p.card_no,
        p.cabin_no,
        f.plan_no,
        f.flight_no,
        f.flight_depcode,
        f.flight_arrcode,
        concat_ws(' - ',f.flight_depcode,f.flight_arrcode) AS leg,
        p.expire_time,
        oi.along_total,
        oi.order_id,
        oi.along_total,
        f.airport_code
        FROM
        order_info oi
        LEFT JOIN passenger p ON oi.order_id = p.order_id
        LEFT JOIN flight f ON f.flight_id = p.flight_id
        WHERE
        oi.is_deleted = 0
        AND oi.order_status = '已使用'
        AND oi.protocol_type = #{protocolType}
        AND oi.airport_code = #{param.airportCode}
        <if test="param.queryCustomerName != null and !''.equals(param.queryCustomerName)">
            AND oi.customer_name LIKE concat('%',#{param.queryCustomerName},'%')
        </if>
        <if test="param.queryFlightDateBegin != null and !''.equals(param.queryFlightDateBegin)">
            and f.flight_date &gt;= #{param.queryFlightDateBegin}
        </if>
        <if test="param.queryFlightDateEnd != null and !''.equals(param.queryFlightDateEnd)">
            and f.flight_date &lt;= #{param.queryFlightDateEnd}
        </if>
    </select>

</mapper>