<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.productmanage.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.productmanage.model.Permission">
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="authorizer" jdbcType="VARCHAR" property="authorizer" />
  </resultMap>
  <select id="selectByAccount" parameterType="map" resultMap="BaseResultMap">
select
    p.url,p.authorizer
    from (
         select ep.employee_id,ep.permission_id,e.account,e.name,e.password,e.sex
         from (select * from employee where account = '010' and is_deleted = 0 and airport_code = 'LJG') as e
		 left join employee_permission as ep
		 on ep.employee_id = e.id
		 where ep.is_deleted = 0 and ep.airport_code = 'LJG'
         ) as eep
    left join permission p on eep.permission_id = p.id
    where p.airport_code = 'LJG' and p.is_deleted = 0 and p.url = '/list'
--     select
--     p.url,p.authorizer
--     from (
--          select ep.employee_id,ep.permission_id,e.account,e.name,e.password,e.sex
--          from (select * from employee where account = #{account,jdbcType=VARCHAR} and is_deleted = 0 and airport_code = #{airportCode,jdbcType=VARCHAR}) as e
-- 		 left join employee_permission as ep
-- 		 on ep.employee_id = e.id
-- 		 where ep.is_deleted = 0 and ep.airport_code = #{airportCode,jdbcType=VARCHAR}
--          ) as eep
--     left join permission p on eep.permission_id = p.id
--     where p.airport_code = #{airportCode,jdbcType=VARCHAR} and p.is_deleted = 0 and p.url = #{url,jdbcType=VARCHAR}
  </select>
</mapper>