<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.productmanage.mapper.ServMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.productmanage.model.Serv">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="airport_code" jdbcType="VARCHAR" property="airportCode" />
    <result column="product_type_allocation_id" jdbcType="BIGINT" property="productTypeAllocationId" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="depart_type" jdbcType="VARCHAR" property="departType" />
    <result column="terminal" jdbcType="VARCHAR" property="terminal" />
    <result column="is_security_check" jdbcType="SMALLINT" property="isSecurityCheck" />
    <result column="available_gate" jdbcType="VARCHAR" property="availableGate" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="address_detail" jdbcType="VARCHAR" property="addressDetail" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>
  <resultMap id="BaseResultMapPage" type="com.zhiweicloud.productmanage.model.Serv">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="airport_code" jdbcType="VARCHAR" property="airportCode" />
    <result column="product_type_allocation_id" jdbcType="BIGINT" property="productTypeAllocationId" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="depart_type" jdbcType="VARCHAR" property="departType" />
    <result column="terminal" jdbcType="VARCHAR" property="terminal" />
    <result column="is_security_check" jdbcType="SMALLINT" property="isSecurityCheck" />
    <result column="available_gate" jdbcType="VARCHAR" property="availableGate" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="address_detail" jdbcType="VARCHAR" property="addressDetail" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
    <result column="product_category" jdbcType="VARCHAR" property="productCategory" />
    <result column="service_type" jdbcType="VARCHAR" property="serviceType" />
  </resultMap>

  <resultMap id="DropdownlistMap" type="com.zhiweicloud.guest.model.Dropdownlist">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>

  <sql id="Base_Column_List">
    id, airport_code, product_type_allocation_id, no, name, depart_type, terminal, is_security_check,
    available_gate, region, address_detail, create_time, update_time, is_deleted
  </sql>

  <select id="selectById" parameterType="map" resultMap="BaseResultMapPage">
    SELECT
    s.*,product_category,service_type
    FROM
    serv s left join product_type_allocation p on s.product_type_allocation_id = p.id
    where s.airport_code = #{airportCode,jdbcType=VARCHAR} and s.id = #{id,jdbcType=BIGINT} and s.is_deleted = 0
  </select>

  <update id="updateByIdAndAirportCode" parameterType="com.zhiweicloud.productmanage.model.Serv">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update serv
  <set>
    <if test="name != null">
      name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="departType != null">
      depart_type = #{departType,jdbcType=VARCHAR},
    </if>
    <if test="terminal != null">
      terminal = #{terminal,jdbcType=VARCHAR},
    </if>
    <if test="isSecurityCheck != null">
      is_security_check = #{isSecurityCheck,jdbcType=SMALLINT},
    </if>
    <if test="availableGate != null">
      available_gate = #{availableGate,jdbcType=VARCHAR},
    </if>
    <if test="region != null">
      region = #{region,jdbcType=VARCHAR},
    </if>
    <if test="productTypeAllocationId != null">
      product_type_allocation_id = #{productTypeAllocationId,jdbcType=BIGINT},
    </if>
    <if test="addressDetail != null">
      address_detail = #{addressDetail,jdbcType=VARCHAR},
    </if>
    <if test="isDeleted != null">
      is_deleted = #{isDeleted,jdbcType=SMALLINT},
    </if>
      update_time = CURRENT_TIMESTAMP
  </set>
  where airport_code = #{airportCode,jdbcType=VARCHAR} and id = #{id,jdbcType=BIGINT}
</update>

  <select id="getListByConidition" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMapPage">
    SELECT
    s.*,product_category,service_type
    FROM
    v_serv s left join product_type_allocation p on s.product_type_allocation_id = p.id
    where s.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and s.is_deleted = 0
    <if test="criteria.productCategory != null and !criteria.productCategory.trim().equals('')" >
      and p.product_category like concat('%',#{criteria.productCategory},'%')
    </if>
    <if test="criteria.serviceType != null and !criteria.serviceType.trim().equals('')" >
      and p.service_type = #{criteria.serviceType}
    </if>
    <if test="criteria.name != null and !criteria.name.trim().equals('')" >
      and s.name like concat('%',#{criteria.name},'%')
    </if>
    order by s.id desc
    LIMIT #{page.startPageNo},#{page.pCount}
  </select>

  <select id="getServListByConidition" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMapPage">
    SELECT
    product_category,service_type,s.id,s.airport_code,s.product_type_allocation_id,s.no,s.name as service_name,s.depart_type,s.terminal,s.is_security_check,
    s.available_gate,s.region,s.address_detail,s.create_time,s.update_time,s.is_deleted
    FROM
    v_serv s left join product_type_allocation p on s.product_type_allocation_id = p.id
    where s.airport_code = #{criteria.airportCode,jdbcType=VARCHAR} and s.product_type_allocation_id = #{criteria.productTypeAllocationId,jdbcType=BIGINT} and s.is_deleted = 0
    <if test="criteria.ids != null and !criteria.ids.trim().equals('')" >
      and s.id not in (${criteria.ids})
    </if>
    order by s.id desc
    LIMIT #{page.startPageNo},#{page.pCount}
  </select>

  <select id="getServiceId"  parameterType="java.util.Map"  resultType="java.lang.Long">
    select service_id from protocol_serv where airport_code = #{airportCode,jdbcType=VARCHAR} and is_deleted = 0
    and protocol_id = #{protocolId,jdbcType=BIGINT} and product_type_allocation_id = #{productTypeAllocationId,jdbcType=BIGINT}
  </select>

  <select id="getListCount" parameterType="map" resultType="int">
    SELECT
    count(m.id) as num
    FROM
    serv m left join product_type_allocation p on m.product_type_allocation_id = p.id
    where m.airport_code = #{airportCode,jdbcType=VARCHAR} and m.is_deleted = 0
    <if test="productCategory != null and !productCategory.trim().equals('')" >
      and p.product_category like concat('%',#{productCategory},'%')
    </if>
    <if test="serviceType != null and !serviceType.trim().equals('')" >
      and p.service_type = #{serviceType}
    </if>
    <if test="name != null and !name.trim().equals('')" >
      and m.name like concat('%',#{name},'%')
    </if>
  </select>

  <select id="getServListCount" parameterType="map" resultType="int">
    SELECT
    count(s.id) as num
    FROM
    v_serv s left join product_type_allocation p on s.product_type_allocation_id = p.id
    where s.airport_code = #{airportCode,jdbcType=VARCHAR} and s.product_type_allocation_id = #{productTypeAllocationId,jdbcType=BIGINT} and s.is_deleted = 0
    <if test="ids != null and !ids.trim().equals('')" >
      and s.id not in (${ids})
    </if>
  </select>

  <select id="selectByName"  parameterType="java.util.Map"  resultType="java.lang.Long">
    SELECT count(id) from serv where airport_code = #{airportCode,jdbcType=VARCHAR} and name = #{serviceName,jdbcType=VARCHAR}
  </select>

  <select id="getServiceNameDropdownList" parameterType="java.util.Map" resultMap="DropdownlistMap">
    select id,name as value from serv where airport_code = #{airportCode,jdbcType=VARCHAR} and product_type_allocation_id = #{id,jdbcType=BIGINT} and is_deleted = 0
  </select>

</mapper>