<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiweicloud.guest.mapper.InstitutionClientMapper">
  <resultMap id="BaseResultMap" type="com.zhiweicloud.guest.model.InstitutionClient">
    <id column="institution_client_id" jdbcType="BIGINT" property="institutionClientId" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, no, name, type, employee_id, remark, create_time, update_time, is_deleted
  </sql>

  <resultMap id="BaseResultMapPage" type="com.zhiweicloud.guest.model.InstitutionClient">
    <id column="institution_client_id" jdbcType="BIGINT" property="institutionClientId" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted" />
    <result column="employee_name" property="employeeName" jdbcType="VARCHAR"/>
    <result column="airport_code" jdbcType="VARCHAR" property="airportCode" />
  </resultMap>

  <select id="getListByConiditionCount" parameterType="com.zhiweicloud.guest.model.InstitutionClient" resultType="int">
    SELECT
    count(i.institution_client_id)
    FROM
    v_institution_client i left join employee e on i.employee_id = e.employee_id
    where i.is_deleted = 0
    <if test="no != null and !no.trim().equals('')" >
      and i.no like concat('%',#{no},'%')
    </if>
    <if test="name != null and !name.trim().equals('')" >
      and i.name like concat('%',#{name},'%')
    </if>
    <if test="type != null and !type.trim().equals('')" >
      and i.type = #{type}
    </if>
    <if test="airportCode != null and !airportCode.trim().equals('')" >
      and i.airport_code = #{airportCode}
    </if>

  </select>

  <select id="getListByConidition" parameterType="com.zhiweicloud.guest.pageUtil.BasePagination" resultMap="BaseResultMapPage">
    SELECT
    i.*,e.name as employee_name
    FROM
    v_institution_client i left join employee e on i.employee_id = e.employee_id
    where i.is_deleted = 0
    <if test="criteria.no != null and !criteria.no.trim().equals('')" >
      and i.no like concat('%',#{criteria.no},'%')
    </if>
    <if test="criteria.name != null and !criteria.name.trim().equals('')" >
      and i.name like concat('%',#{criteria.name},'%')
    </if>
    <if test="criteria.type != null and !criteria.type.trim().equals('')" >
      and i.type = #{criteria.type}
    </if>
    <if test="criteria.airportCode != null and !criteria.airportCode.trim().equals('')" >
      and i.airport_code = #{criteria.airportCode}
    </if>
    order by  i.institution_client_id desc
    LIMIT #{page.startPageNo},#{page.pCount}
  </select>

  <resultMap id="DropdownlistMap" type="com.zhiweicloud.guest.model.DropdownlistExt">
    <id column="institution_client_id" jdbcType="BIGINT" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="no" jdbcType="VARCHAR" property="no" />
  </resultMap>

  <select id="getInstitutionClientDropdownList" resultMap="DropdownlistMap" parameterType="map">
    select DISTINCT(vic.institution_client_id),vic.name as value,vic.no from v_institution_client vic
    <choose>
        <when test="type != null and !type.trim().equals('') and type == 1">
          where vic.is_deleted = 0 and vic.airport_code = #{airportCode}
          and name in ('南方航空股份有限公司','中国国际航空股份有限公司')
          <if test="name != null and !name.trim().equals('')" >
            and vic.name like concat('%',#{name},'%')
          </if>
          <if test="no != null and !no.trim().equals('')" >
            and vic.no like concat('%',#{no},'%')
          </if>
        </when>
        <when test="type != null and !type.trim().equals('') and type == 2">
          inner join protocol p
          on vic.institution_client_id = p.institution_client_id
          and p.type = 9
          where vic.is_deleted = 0 and vic.airport_code = #{airportCode}
          <if test="name != null and !name.trim().equals('')" >
            and vic.name like concat('%',#{name},'%')
          </if>
          <if test="no != null and !no.trim().equals('')" >
            and vic.no like concat('%',#{no},'%')
          </if>
        </when>
        <when test="type != null and !type.trim().equals('') and type == 3">
          inner join protocol p
          on vic.institution_client_id = p.institution_client_id
          and p.type = 10
          where vic.is_deleted = 0 and vic.airport_code = #{airportCode}
          <if test="name != null and !name.trim().equals('')" >
            and vic.name like concat('%',#{name},'%')
          </if>
          <if test="no != null and !no.trim().equals('')" >
            and vic.no like concat('%',#{no},'%')
          </if>
        </when>
        <otherwise>
          where vic.is_deleted = 0 and vic.airport_code = #{airportCode}
          <if test="name != null and !name.trim().equals('')" >
            and vic.name like concat('%',#{name},'%')
          </if>
          <if test="no != null and !no.trim().equals('')" >
            and vic.no like concat('%',#{no},'%')
          </if>
        </otherwise>
    </choose>
  </select>


  <select id="viewByIdAndAirCode" parameterType="map" resultMap="BaseResultMapPage">
    select ic.institution_client_id, ic.no, ic.name, ic.type, ic.employee_id, ic.remark,ic.airport_code,e.name as employee_name from  institution_client ic
    inner join employee e on ic.employee_id = e.employee_id where ic.institution_client_id = #{institutionClientId} and ic.airport_code = #{airportCode}
  </select>

  <update id="markAsDeleted">
    UPDATE institution_client set is_deleted = 1,update_time = now(),update_user = #{deleteUser}
    where institution_client_id = #{institutionClientId}
    and airport_code = #{airportCode}

  </update>

  <insert id="insertSelective" parameterType="com.zhiweicloud.guest.model.InstitutionClient">
    insert into institution_client
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="institutionClientId != null">
        institution_client_id,
      </if>
      <if test="airportCode != null">
        airport_code,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="institutionClientId != null">
        #{institutionClientId,jdbcType=BIGINT},
      </if>
      <if test="airportCode != null">
        #{airportCode,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhiweicloud.guest.model.InstitutionClient">
    update institution_client
    <set>
      <if test="airportCode != null">
        airport_code = #{airportCode,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null">
        employee_id = #{employeeId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=SMALLINT},
      </if>
    </set>
    where institution_client_id = #{institutionClientId,jdbcType=BIGINT} and airport_code = #{airportCode,jdbcType = VARCHAR}
  </update>

  <update id="deleteBatchByIdsAndUserId" parameterType="Map">
    UPDATE institution_client SET is_deleted = 1,update_time = now(),update_user = #{userId}
    WHERE airport_code = #{airportCode}
    AND institution_client_id IN
    <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>



  <select id="judgeRepeat" resultType="int">
    select count(institution_client_id) from institution_client
    where is_deleted = 0 and airport_code = #{airportCode} and name = #{name}
    <if test="institutionClientId != null and !''.equals(institutionClientId)">
      and institution_client_id != #{institutionClientId}
    </if>
  </select>



  <select id="queryInstitutionType" resultType="map">
    select intitution_id as id,intitution_name as value from institution_type where is_deleted = 0 and airport_code = #{airportCode}
  </select>
</mapper>